.edit-account-container{
    .regis-form{
        margin-bottom: 1vw;
        width: 100%;
        padding: 1vw;
        border-radius: 0.5vw;
        background-color: #181818;

        input{
            border: solid 0.1vw rgb(40, 40, 40);
        }
    }
    // hr {
    //     margin: 0.5vw;
    //     height: 8px;
    //     // background-color: red;
    //     background-image: linear-gradient(90deg,transparent, #960c1c, transparent);

    //     border: 0;
    //     height: 1px;
    // }
    .input-group{
        .left{ 
            width: 40%;
            padding-left: 1.5vw;
        }
        .right{ 
            width: 60%;
            
        }
        .checkbox input{
            width: 1vw;
        }
    }
    .disabled{
        opacity: 0.5;
    }

    form {
        display: flex;
        flex-direction: column;
      }
    
}