.mode-container {
    // .modal-body {

    //     width: 1200px;
    //     height: 600px;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     position: relative;
    
    //     // border: 0.1vw solid rgba(204, 204, 204, 0.822);
    //     // background: #ebebeb;
    //     //  rgba(255, 255, 255, 0.95);
    //     overflow: auto;
    //     border-radius: 0.2vw;
    //     outline: none;
    //     padding: 20px;
    
    // }
    // header {
    //     margin-bottom: 0.5vw;
    // }

    .top-right-float{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;

        button {
            color: #6b0504;
            background-color: transparent;
        }
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .selected-box {
            width: 30%;
        }

        .user-action-box {
            width: 60%;

            // height: 500px;
            // background-color: blanchedalmond;
            .auto-manual-selection {
           
                margin-bottom: 1vw;
            }

            .origin-select-box {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .profile {}
            }
        }

        .intercon-history-box {
            width: 40%;
            height: 29vw;
            // background-color: darkcyan;
            padding: 1vw 1vw 0 1vw;
            // overflow: auto;
            background-color: rgb(24, 24, 24);
            // border: solid 3px rgba(0, 0, 0, 0.089);
            border-radius: 0.5vw;
            display: flex;
            // justify-content: center;
            // align-items: center;
            flex-direction: column;
            // .header-section{
            // }
        }
    }

    .system-and-added {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .selected-box {
            width: 25%;
            // height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // background-color: rgba(0, 0, 0, 0.205);
        }

        .selecting-box {
            width: 45%;
            // height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }


    }


    .interconnect-form {

        // display: flex;
        // flex-direction: row;
        // justify-content: center;

        // padding-top: 20px;
        // background-color: rgba(0, 0, 0, 0.199);
        // height: 500px;
        // overflow-y: auto;
    }

    .interconnection-his {

        display: flex;
        justify-content: center;
        width: 100%;
        max-height: 28vw;
        overflow-y: auto;
     

    }
    .btn-label{
        font-size: 0.7vw;
                font-weight: 300;
    }
    .table-title {
        font-weight: 500;
        // font-size: 0.8vw;
        font-size: 0.9vw;
        // font-weight: 600;
        margin: 0.25vw 0;
        margin: 0 0.8vw 0.8vw 0.8vw;
    }
    
    .selected-system {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        // height: 100%;
        background-color: rgba(0, 0, 0, 0.205);

        .system-image {
            width: fit-content;
            padding: 0.5vw;
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.253);

            img {
                width: 5vw;
            }

        }

        .system-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }

    .origin-profile {
        height: 10.15vw;
        // background-color: yellow;

        margin: 0 0 1vw 0;
    }

    .target-profile {
        height: 10.15vw;
        // background-color: red;
    }

    .toggle-btn {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0.5vw;
        margin-bottom: 1vw;

        .manual {
            padding: 0.3vw 0.5vw 0.3vw 0.3vw;
            border: 0;
            border-radius: 0 0.8vw 0.8vw 0;
            outline: none;
            color: black;
            cursor: default;
            background-color: #C4C4C4;
        }

        .auto {

            padding: 0.3vw 0.3vw 0.3vw 0.5vw;
            border: 0;
            border-radius: 0.8vw 0 0 0.8vw;
            outline: none;
            color: black;
            cursor: default;
            background-color: #C4C4C4;
        }
        .auto, .manual {
            cursor: pointer;
            span{
                color: rgb(40,40,40);
            }
            &:hover{
                background-color: #EEEEEE;
            }
        }
        .selected-mode {
            
            background-color: rgb(116, 20, 20);
            &:hover{
                background-color: rgb(116, 20, 20);
            }
            span{
                color: rgb(230, 222, 222) !important;
            }
        }

    }
    .close{
        font-size: 1vw;
      }

      .text-center.action{
          display: flex;
          justify-content: center;
      }
}