.selected-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .system-image{
        width: fit-content;
        padding: 10px;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.253);
        img {
            width: 100px;
        }
        
    }
    .system-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}