.notification-container {
    .table-container {
        min-height: 20vw;
        max-height: 30vw;
        overflow: auto;

        // border: solid 0.05vw rgb(64, 64, 64);
        // padding: 1vw;
        // border-radius: 0.5vw;
        .row-table {
            .font-hide {
                // height: 100%;
                height: 1.8vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                i {
                    display: none;
                }
            }
            &:hover {
                .font-hide i {
                    display: flex;
                    color: rgb(179, 179, 179);
                }
            }
        }
    }
    .btn-row {
        padding: 1vw 0 0 0;
        .submit {
            margin: 0;
        }
    }
    
    .no-remaining-task {
        width: 100%;
        height: 18vw;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .camera-offline {
        color: #b3b3b3;
        font-size: 1.5vw;
        font-weight: 600;
        opacity: 0.2;
        letter-spacing: 0.1vw;
    }
    td {
        cursor: pointer;
    }

    .border-top{
        border-top: solid 0.05vw rgba(179, 179, 179, 0.5);
    }
}
