.intercon-summary-container{
    .text-danger{
        color: red;
        font-weight: 500;
    }
    .text-warning {
        color: #e2922a;
    }
    table{
        border-collapse: collapse;
    }
    .table-size{
        // margin: 0 0.5vw;
        min-height: 20vw;
        max-height: 30vw;
        overflow: auto;
    }
    tr {
        border-bottom: solid 0.05vw rgba(64, 64, 64, 0.479);
        // &:last-child{
        //     border-bottom: 0;
        // }
    }
}