.card {
    border: black 1px solid;
    // border-radius: 10px;
    // padding: 10px 2px;
    cursor: pointer;
    width: 5rem;
    height: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // height: 6rem;
    background-color: rgba(255, 255, 255, 0.336);

    .image-box {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        // align-items: center;
        // width: auto;
        background-color: rgba(255, 255, 255, 0.336);
        img {
            // max-width: 100%;
            max-height: 100%;
            // height: auto;
        }
    }

    // .delete-btn {
    //     position: absolute;
    //     left: 4.5rem;
    // }

    

    .content {
        margin: 0;
        padding: 0;
        text-align: center;
        p {
            // font-weight: 500;
            font-size: 12px;
        }
    }
}