.task-log-container {
    width: 100%;
    height: 100%;

    .content {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        // align-items: center;

        padding: 1vw;
    }

    .table-container {
        width: 80%;
        padding: 1vw;
        border-radius: 0.5vw;
        background-color: rgb(24, 24, 24);
    }
    .table-size {
        // background-color: royalblue;
        min-height: 6.5vw;
        max-height: 34.5vw;
        overflow: auto;
        input {
            max-width: 100%;
        }
    }
    .no-remaining-task {
        width: 100%;
        height: 15vw;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .camera-offline {
        color: #b3b3b3;
        font-size: 1.5vw;
        font-weight: 600;
        opacity: 0.2;
        letter-spacing: 0.1vw;
    }

    .lr-container {
        padding-bottom: 0.5vw;
    }
    .search-input {
        padding: 0.3vw 1vw;
        border-radius: 1vw 0 0 1vw;
        width: 10vw;
    }

    .search-btn {
        margin: 0;
        padding: 0.3vw 0.5vw;
        border-radius: 0 1vw 1vw 0;
        color: rgb(179, 179, 179);
    }
    .pagination-container {
        select {
            width: 3vw;
            margin-right: 0.75vw;
        }
    }
    th {
        height: 2vw;
    }
    td {
        min-height: 1.5vw;
    }
}
