.interconn-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .table-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .table-size {
            width: 100%;
            min-height: 15vw;
            max-height: 21vw;
            overflow: auto;
        }

    }

    .shift-right {
        padding-left: 1vw;
    }

    .close {
        font-size: 1vw;
    }
    
}