.countdown-dialog-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;


    // header {
    //     padding: 0.8vw 0 0 0;

    //     h1 {
    //         font-size: 1.2vw;
    //         font-weight: 400;
    //         color: rgb(179, 179, 179);
    //         letter-spacing: 0.05vw;
    //         margin-bottom: 0.25vw;
    //     }

    // }
    header{
        padding: 0;
    }

    hr {
        // width: 92%;

        // padding: 0;
        // // border-style: inset;
        // // border-width: 0.1vw;
        // border: solid 0.1vw rgba(179, 179, 179, 0.575);
        margin: 0.5vw 0;
        border: 0;
        height: 0;
        border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
        border-bottom: 0.05vw solid rgba(255, 255, 255, 0.3);
    }

    .paragraph {
        // background-color: blanchedalmond;
        // height: 4vw;
        padding: 1vw 0;
        overflow: auto;
        display: flex;
        justify-content: center;
        // margin: 0 1vw 0.25vw;

        span {
            font-size: 0.75vw;
            font-weight: 400;
            
        }
        
    }

    .btn-row {
        padding: 0.5vw 1vw 0;
        button{
            opacity: 1 !important;
        }
    }
    .center{
        justify-content: center !important;
    }

    .btn-group {
        // position: absolute;
        // top: 100%;
        // background-color: rgb(172, 150, 119);
        width: 100%;
        height: 25%;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    }
}