.element-visualization-container {
    // position: relative;

    #cy {
        width: 100%;
        height: 25vw;
        // height: 500px;
        display: block;
        z-index: 0;
        background: hsl(0, 0, 18%);
            //   position: absolute;

    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        h1{ margin-right: 1vw;}
    }

    .left {
        // position: absolute;
        // z-index: 2;
        // top: 2.8vw;
        // left: 1vw;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        // padding: 0.2vw 0.5vw;
        // border-radius: 0.2vw;
        // background-color: rgb(40, 40, 40);
        // -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
        // -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
        // box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);

    }

    .header-name {
        margin: 0;

        span:nth-child(n+2)::before {
            content: " > ";

        }

        span {
            color: #b3b3b3;
            font-size: 0.7vw;
            font-weight: 500;
            letter-spacing: 0.1vw;
        }
    }

    .edit-global {
        position: absolute;
        display: flex;
        z-index: 2;
        top: 2.8vw;
        right: 1vw;
    }

    .back-btn {
        padding: 0.15vw 0.5vw;
        margin-right: 0;
        margin-left: 0.7vw;
    }
    .back-btn:hover{
        
        background-color: rgb(64, 64, 64);
        .back{
            color: rgb(179, 179, 179);
        }
    }

    .back {
        color: rgb(40, 40, 40);

    }
}