

.create-container {

    .adding{
        cursor: move;
    }
    #cy {
        width: 100%;
        height: 600px;
        // height: 500px;
        display: block;
        z-index: 0;
        background: rgb(64, 64, 64);
        border-radius: 0.25vw;
        //   position: absolute;
    
    }
    .container-template-box {

        display: flex;
        flex-direction: row;
        // height: 74vh;
        padding: 0.5vw;

        .left-box {
            width: 18%;
            padding: 0.5vw 0.7vw;
            margin: 0.5vw;
            border-radius: 0.25vw;
            background-color: rgb(24, 24, 24);

            .template-box {
                margin: 0 0 0.5vw 0;

                // background-color: rgba(0, 0, 0, 0.199);
                .container-tree {
                    max-height: 250px;
                    overflow: auto;
                    position: relative;
                    background-color: rgb(40, 40, 40);
                    border-radius: 0.25vw;
                    padding: 0.5vw;
                    margin: 0 0 1vw 0;

                    .tree-node {
                        .edit-btn {
                            padding: 0.05vw 0.15vw;
                            position: absolute;
                            margin-top: 0.15vw;
                            left: 82%;

                            z-index: 1;
                        }

                        .delete-btn {
                            padding: 0.05vw 0.15vw;
                            position: absolute;
                            margin-top: 0.15vw;
                            left: 90%;
                            z-index: 1;
                        }
                    }

                    color: rgb(179, 179, 179);
                }



                .container-tree::-webkit-scrollbar {
                    display: none;
                }

                .template-list {
                    background-color: rgb(24, 24, 24);
                    max-height: 13vw;

                    overflow: auto;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .template {
                        display: flex;
                        flex-direction: column;
                        padding: 0.1vw;
                        position: relative;
                        width: fit-content;

                        .delete-btn {
                            padding: 0.05vw 0.15vw;
                            position: absolute;
                            left: 3.75vw;
                            z-index: 2;
                        }

                        .template-left {
                            width: 80%;

                            p {
                                font-size: 1vw;
                                padding-left: 0.5vw;
                            }
                        }

                        .template-right {
                            width: 20%;
                            display: flex;
                            justify-content: flex-end;
                        }

                        img {
                            // max-height: 100%; 
                            width: 100%;
                        }
                    }

                    // .template:hover {
                    //     background-color: rgba(0, 0, 0, 0.671);
                    //     color: white;
                    // }
                }
            }

            .unit-box {

                // padding: 0.5vw;
                // background-color: rgba(0, 0, 0, 0.247);
                .model-box {
                    background-color: rgb(40, 40, 40);
                    border-radius: 0.25vw;
                    padding: 0.5vw;
                    max-height: 13vw;
                    overflow: auto;

                    // max-height: 250px;
                    // overflow: auto;

                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;

                    p {
                        font-size: 1vw;
                        padding-left: 0.5vw;
                    }

                    p:hover {
                        background-color: rgba(0, 0, 0, 0.671);
                        color: white;
                    }
                }
            }
        }

        .right-box {
            width: 82%;
            // height: 680px;
            // overflow: auto;

            display: flex;
            flex-direction: row;
            justify-content: center;

            // padding: 0.5vw;
            // background-color: rgba(0, 0, 0, 0.205);
            .registration-box {
                display: flex;
                flex-direction: column;
                padding: 0.5vw 0.7vw;
                margin: 0.5vw 0;
                background-color: rgb(24, 24, 24);

                width: 20%;
                border: solid 0.15vw rgba(0, 0, 0, 0.089);
                border-radius: 0.5vw;

                header {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;

                    .new-template-btn {

                        height: fit-content;
                        padding: 0.1vw 0.25vw;
                        margin: 0 0 0 1.5vw;
                    }
                }

                .scroll-anchor {
                    position: relative;
                    display: flex;
                    justify-content: center;


                }

                .registration-form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    background-color: rgb(40, 40, 40);
                    padding: 0.5vw;
                    border-radius: 0.25vw;
                    margin: 0 0 1vw;

                    .icon-form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 1vw;

                        // margin: 0.5vw;
                        // background-color: rgba(0, 0, 0, 0.075);
                        .icon-box {
                            width: 8vw;
                            height: 8vw;
                            margin: 0.5vw;
                            padding: 0.5vw;
                            background-color: rgb(64, 64, 64);

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                max-height: 100%;
                                max-width: 100%;
                            }
                        }

                        .icon-btn {

                            // display: flex;
                            // justify-content: center;
                            // label {
                            //     padding: 0.1vw 0.5vw;
                            //     border-radius: 0.5vw;
                            //     // background-color: rgba(0, 0, 0, 0.089);
                            // }

                            // label:hover {
                            //     // background-color: rgba(0, 0, 0, 0.295);
                            // }
                            input{
                                display: none;
                            }
                        }
                    }

                    .text-form {
                        display: flex;
                        flex-direction: column;
                        // justify-content: center;
                        // align-items: center;
                        width: 100%;
                        padding: 0.25vw 0;
                        border-radius: 0.25vw;
                        // margin: 0.5vw;
                        background-color: rgb(64, 64, 64);

                        .input-group {


                            .left {
                                width: 40%;
                                justify-content: flex-end;
                                padding-left: 0;
                                padding-right: 0.5vw;
                            }

                            .right {
                                width: 60%;
                            }
                            input {
                                width: 6.5vw;
                            }
                        }
                    }

                }

                .submit-box {
                    display: flex;
                    justify-content: flex-end;

                    .submit-btn {
                        font-size: 0.7vw;
                        width: fit-content;
                        padding: 0.1vw 0.5vw;
                    }

                    input {
                        display: none;
                    }
                }

                .lr-container {
                    margin: 0 0 0.5vw 0;

                    .left {
                        width: 90%;
                    }

                    .right {
                        width: 10%;
                        position: relative;

                    }
                }
            }

            .half-map-box {
                width: 80%;
                padding: 0.5vw;
                margin: 0.5vw;
                // background-color: rgba(0, 0, 0, 0.205);
                background-color: rgb(24, 24, 24);
                border-radius: 0.25vw;


            }

            .map-box {
                width: 100%;
                padding: 0.7vw;
                margin: 0.5vw;
                // background-color: rgba(0, 0, 0, 0.205);
                background-color: rgb(24, 24, 24);
                border-radius: 0.25vw;

            }

            .scroll-anchor {
                position: relative;
                display: flex;
                justify-content: center;
            }

            .map-header {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 0.8vw;

                .header-name {
                    margin: 0 0.7vw 0 0;
                }

                .remove-container-btn {
                    margin: 0 0 0 1.6vw;
                    padding: 0.1vw 0.25vw;
                }
            }
            .lr-container {
                margin: 0 0 0.5vw 0;
            }
        }
    }

    .background-btn {
        font-weight: 400;
        font-size: 0.7vw;
        margin: 0 0.5vw 0 0;
        background-color: rgba(240, 240, 240, 0);
        border: solid 0.1vw rgb(179, 179, 179);
        border-radius: 0.25vw;
        outline: none;
        cursor: pointer;
        text-shadow: none;
        padding: 0.05vw 0.3vw;
    }

    .background-btn:hover {
        background-color: rgb(179, 179, 179);
        border: solid 0.1vw rgb(24, 24, 24)
    }

    .cy-context-menus-cxt-menu {
        display: none;
    }

    .unit-form:hover {
        box-shadow: 0 0.3vw 1vw 0 rgb(56, 13, 13);
        background-color: rgb(179, 179, 179);

        .name-box {
            span {
                color: rgb(40, 40, 40);
            }
        }
    }

    .unit-form {
        width: 4.5vw;
        height: 4vw;
        margin: 0.25vw;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 0;
        box-shadow: 0 0.1vw 0.2vw 0 rgba(0, 0, 0, 0.2), 0 0.3vw 1vw 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;

        background-color: rgb(64, 64, 64);

        .image-box {

            width: 100%;
            height: 70%;
            // margin: 0.5vw;
            // padding: 0.5vw;
            // background-color: rgb(64, 64, 64);

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-height: 100%;
                max-width: 100%;
            }
            // width: 100%;
            // height: 70%;
            // display: flex;
            // justify-content: center;
            padding: 0.25vw;
            // // background-color: white;
            // // border-radius: 0.5vw 0.5vw 0 0;

            // img {

            //     // border-radius: 0.5vw 0.5vw 0 0;
            //     max-height: 100%;
            //     max-width: 100%;
            // }
        }

        .name-box {
            width: 100%;
            height: 30%;
            position: relative;
            display: flex;
            justify-content: center;

            span {
                position: absolute;
                // z-index: 1;

                font-size: 0.6vw;
                font-weight: 500;
            }
        }

    }

    .display-none {
        display: none;
    }

    .MuiTreeItem-label {
        padding: 0.1vw 0.25vw;
        color: rgb(179, 179, 179);
        font-size: 0.73vw;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
    }

    .diff-right {
        position: absolute;
        left: 0.46vw;
    }

    .selected-to-add {
        background-color: rgb(73, 21, 21);
    }

    .resize{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgb(64, 64, 64);
        padding: 0 0 0 0.5vw;
        border-radius: 0.5vw;
    }
    .percentage {
        display: block;
        width: 2.35vw;
        padding:  0.1vw 0 0 0.5vw;
        
    }
    .edit-size{
        display: block;
        // width: 100px;
        padding:  0.1vw 0.7vw 0 0 ;
    }
    .remove-this-container{
        margin: 0 0 0 0.5vw;
    }

}