.filter-container{
    input.checkmark{
        width: fit-content;
        margin-right: 0.2vw;
        // cursor: pointer;
    }
    .checkmark{
        cursor: pointer;
    }
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;

        padding:  1vw 0.5vw;
        border-radius: 0.5vw;
        background-color: rgb(24, 24, 24);
        
        .input-group{
            .left{  padding-left: 1vw; }
        }
    }
    // .sub-content{
    //     width: 50%;
    //     padding:  1vw 0.5vw;
    //     border-radius: 0.5vw;
    //     background-color: rgb(24, 24, 24);
    //     &:nth-child(1){
    //         margin: 0 1vw 0 0;
    //     }
    // }
}