.panel-container {

  overflow: auto;
  position: absolute;
  width: 90vw;
  height: 400px;
  background-color: rgb(255, 255, 255);
  top: 500px;
  animation: moveUp 1s;



  .front-panel {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .port {
      width: 2rem;
      height: 2.5rem;
      margin: 2px;
      background-color: rgb(190, 172, 172);
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      p {}
    }

    .port:hover {
      background-color: rgb(122, 110, 110);
    }

  }

  .submit-box {
    display: flex;
    justify-content: flex-end;
  }
}

.port-config-container {

  .content-container {
    padding: 1vw;
    display: flex;
    flex-direction: row;

    .left-content {
      width: 100%;
      margin-right: 1vw;
    }

    //   .right-content {
    //     width: 20%;
    //     background-color: rgb(24, 24, 24);
    //     border-radius: 0.5vw;
    //     padding: 1vw;
    //   }
  }

  .table-size {
    width: 100%;
    max-height: 27vw;
    overflow: auto;
  }

  th {
    background-color: rgb(24, 24, 24);
  }


  select {
    background-color: rgb(40, 40, 40);
    border: none;
    color: rgb(179, 179, 179);
  }

  .selected-page {
    background-color: rgb(64, 64, 64);
    font-weight: 600;
  }

  .input-edited {
    // border: 0.05vw solid #6B0F1A;
    background-color: hsl(0, 0%, 70%) !important;
    color: rgb(24, 24, 24);
  }
  .toggle-btn {
    // width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5vw;
    // margin-bottom: 1vw;

    button.auto, button.manual { margin: 0;}
    .auto {

      padding: 0.4vw 0.5vw 0.4vw 0.8vw;
      border: 0;
      border-radius: 0.8vw 0 0 0.8vw;
      outline: none;
      color: black;
      cursor: default;
      background-color: #C4C4C4;
  }
    .manual {
        padding: 0.4vw 0.8vw 0.4vw 0.5vw;
        border: 0;
        border-radius: 0 0.8vw 0.8vw 0;
        outline: none;
        color: black;
        cursor: default;
        background-color: #C4C4C4;
    }

    
    .auto, .manual {
        cursor: pointer;
        h2{
            color: rgb(40,40,40);
        }
        &:hover{
            background-color: #EEEEEE;
        }
    }
    .selected-mode {
        
        background-color: rgb(116, 20, 20);
        &:hover{
            cursor: default;
            background-color: rgb(116, 20, 20);
        }
        h2{
            color: rgb(230, 222, 222) !important;
        }
    }

}

  .lr-container {
    padding: 0.2vw 0;
    margin-bottom: 1vw;
    align-items: center;

    .right {
      .search-input {
        padding: 0.3vw 1vw;
        border-radius: 1vw 0 0 1vw;
      }

      .search-btn {
        margin: 0;
        padding: 0.3vw 0.5vw;
        border-radius: 0 1vw 1vw 0;
        color: rgb(179, 179, 179);
      }

      .checkmark {
        width: fit-content;
        margin-right: 0.2vw;
      }
    }

    // h2 {
    //   // width: 10%;
    //   margin-right: 1vw;

    // }

    span {
      // margin-right: 0.5vw;
    }

    span.result {
      background-color: rgba(24, 24, 24, 0.5);
      padding: 0.1vw 0.5vw;
      border-radius: 0.5vw;
    }

    select {
      width: 4vw;
    }

    // input{
    //     width: 90%;
    // }
    button {
      // background-color: rgb(40, 40, 40);
      margin: 0 0.5vw 0 0.5vw;

      span {
        // color: rgb(64, 64, 64);
        // margin-right: 0.2vw;
      }

      input {
        width: 2vw;

      }

      &.active {
        background-color: rgb(179, 179, 179);
        color: rgb(64, 64, 64);
      }
    }




  }

  display: flex;
  flex-direction: column;

  .section-container {
    background-color: rgb(24, 24, 24);
    border-radius: 0.5vw;
    padding: 1vw;

  }

  .btn.view {
    width: 6vw;
    padding: 0.5vw 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .btn-row {
    width: 100%;
    margin: 1vw 1vw 0.5vw 0;
  }

  .port-alias {
    width: 4vw;
    border: solid 0.05vw #404040;
  }
  .port-desc{
    width: 8vw;
    border: solid 0.1vw #404040;
  }

  .blank-input{
    border: solid 0.1vw red !important;
  }

  .source {
    margin-bottom: 1.8vw;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    // margin: 0 10vw;
    border-radius: 0.5vw;

    background-color: rgb(40, 40, 40);

    // flex-wrap: wrap;
    // justify-content: center;
    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

    }
    .table-size input{
      background-color: rgb(64,64,64);
    }

  }

  .light-status {
    // width: 0.3vw;
    // height: 0.3vw;
    // background-color: #242424;
    // box-shadow: 0 0 2px 0.05vw #242424;
    // border-radius: 0.2vw;
    // margin-right: 0.2vw;
    width: 0.6vw;
    height: 0.15vw;
    background-color: #242424;
    box-shadow: 0 0 0.1vw 0.05vw #242424;
    border-radius: 0.2vw;
    margin-top: 0.2vw;
    opacity: 0.8;
  }

  .connected {
    .light-status {
      background-color: #ff0000 !important;
      // box-shadow: 0 0 2px 0.05vw #ff0000 !important;
    }

  }

  .available {
    .light-status {
      background-color: #00CC00 !important;
      // box-shadow: 0 0 2px 0.05vw #ffbb00 !important;
    }

  }

  .disabled {
    opacity: 0.1;

    .light-status {
      background-color: rgb(122, 110, 110) !important;
      box-shadow: 0 0 2px 0.05vw rgb(122, 110, 110) !important;
    }
  }

  .disabled {
    opacity: 0.4;

    .light-status {
      background-color: rgb(122, 110, 110) !important;
      box-shadow: 0 0 2px 0.05vw rgb(122, 110, 110) !important;
    }
  }

  .connecting {
    animation: 1s connect-blink ease infinite;

    .light-status {
      background-color: #00CC00 !important;
      // box-shadow: 0 0 2px 0.05vw #ffbb00 !important;
      animation: 1s blink ease infinite;
      -webkit-animation: 1s blink ease infinite;
      -moz-animation: 1s blink ease infinite;
      -ms-animation: 1s blink ease infinite;
      -o-animation: 1s blink ease infinite;
    }


  }

  .disconnecting {

    animation: 1s disconnect-blink ease infinite;

    .light-status {
      background-color: #ff0000 !important;
      // box-shadow: 0 0 2px 0.05vw #ffbb00 !important;
      animation: 1s blink ease infinite;
      -webkit-animation: 1s blink ease infinite;
      -moz-animation: 1s blink ease infinite;
      -ms-animation: 1s blink ease infinite;
      -o-animation: 1s blink ease infinite;
    }
  }

  // .disconnecting {
  //   animation: 1s recover-blink ease infinite;
  //   .light-status {
  //     background-color: #00CC00 !important;
  //     // box-shadow: 0 0 2px 0.05vw #ffbb00 !important;
  //     animation: 1s blink ease infinite;
  //     -webkit-animation: 1s blink ease infinite;
  //     -moz-animation: 1s blink ease infinite;
  //     -ms-animation: 1s blink ease infinite;
  //     -o-animation: 1s blink ease infinite;
  //   }

  // }

  .recovering {
    animation: 1s recover-blink ease infinite;

    .light-status {
      background-color: #4d4dff !important;
      // box-shadow: 0 0 2px 0.05vw #ffbb00 !important;
      animation: 1s blink ease infinite;
      -webkit-animation: 1s blink ease infinite;
      -moz-animation: 1s blink ease infinite;
      -ms-animation: 1s blink ease infinite;
      -o-animation: 1s blink ease infinite;
    }

  }

  .locking {
    animation: 1s lock-blink ease infinite;

    .light-status {
      background-color: #c4c4c4 !important;
      // box-shadow: 0 0 2px 0.05vw #ffbb00 !important;
      animation: 1s blink ease infinite;
      -webkit-animation: 1s blink ease infinite;
      -moz-animation: 1s blink ease infinite;
      -ms-animation: 1s blink ease infinite;
      -o-animation: 1s blink ease infinite;
    }

  }

  // @keyframes blink {
  //   50% {
  //     opacity: 0.0;
  //   }
  // }

  // @-webkit-keyframes blink {
  //   50% {
  //     opacity: 0.0;
  //   }
  // }

  @keyframes blink {

    from,
    to {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
  }

  @keyframes disconnect-blink {

    from,
    to {

      border: solid 2px #ff000000;
    }

    50% {
      border: solid 2px #ff0000;
    }

  }

  @keyframes connect-blink {

    from,
    to {

      border: solid 2px #00cc0000;
    }

    50% {
      border: solid 2px #00b400;
    }

  }

  @keyframes recover-blink {

    from,
    to {

      border: solid 2px #4d4dff00;
    }

    50% {
      border: solid 2px #4d4dff;
    }
  }

  @keyframes lock-blink {

    from,
    to {

      border: solid 2px #c4c4c400;
    }

    50% {
      border: solid 2px #c4c4c4;
    }
  }

  .group {
    margin: 5px;
    background-color: rgb(40, 40, 40);
  }

  .selected {
    background-color: rgb(179, 179, 179) !important;

    span {
      color: rgb(64, 64, 64);
      font-weight: 700;
    }
  }

  .selected:hover {
    background-color: rgb(204, 204, 204) !important;

    span {
      font-size: 0.8vw;
      font-weight: 600;
      color: rgb(56, 9, 9);
    }
  }

  .port {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // margin: 5px;


    width: 4%;
    height: 2.8vw;


    // border-radius: 5px;

    background-color: rgb(18, 18, 18);
    border: solid 0.15vw #121212;
    cursor: pointer;


    span {
      font-size: 0.75vw;
      margin-bottom: 0.2vw;
    }

  }

  .port:hover {
    // background-color: rgb(27, 3, 3);
    border: solid 0.1vw rgb(64, 64, 64);
  }

  .same-type {
    cursor: not-allowed;
    opacity: 0.4;
  }

  .close {
    font-size: 1vw;
  }

  .filter{
    padding: 0.25vw 0.5vw 0.25vw 1vw;
  }
  .row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.1vw 0.2vw 0.1vw 1vw;
    // background-color: #6b0f1a;
    border: solid 0.15vw #6b0f1a ;
    border-radius: 1.25vw;
    &.active{
      background-color: #6b0f1a ;
    }
  }

  td{
    height: 2vw;
  }

  .fit-btn{
    padding: 0.25vw 0.8vw;
  }

  .no-remaining-task {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    .camera-offline {
        color: #b3b3b3;
        font-size: 1.5vw;
        font-weight: 600;
        opacity: 0.2;
        letter-spacing: 0.1vw;
    }
}

}