.unit-dashboard-container {
	.header,
	.content,
	.footer {
		width: 100%;
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding-right: 1vw;

		height: 2vw;
		position: fixed;
		left: 0;
		bottom: 0;
		background-color: #181818;
		border-top: 0.05vw solid rgba(64, 64, 64, 0.233);
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 5vw;
		background: rgb(16, 16, 16);
		background: linear-gradient(
			20deg,
			rgba(16, 16, 16, 1) 0%,
			rgba(22, 9, 9, 1) 34%,
			rgba(52, 8, 8, 1) 84%,
			rgba(32, 2, 2, 1) 100%
		);

		.left,
		.right {
			display: flex;
			flex-direction: row;
			height: 100%;
			width: 100%;
			align-items: center;
		}

		.left {
			justify-content: flex-start;
		}

		.right {
			justify-content: flex-end;
		}

		.noti-section {
			// height: 100%;
			// width: 10vw;
			// margin-right: 2vw;
			// display: flex;
			// justify-content: flex-end;
			// align-items: center;

			display: flex;
			flex-direction: row;

			position: absolute;
			top: 0.05vw;
			right: 0;

			.btn-tab {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			button {
				padding: 0.4vw 0.6vw;
				border-radius: 0;
				outline: none;
				border: none;
				cursor: pointer;

				color: rgb(179, 179, 179);
				background-color: transparent;
				&:hover {
					background-color: #6b0f1a;
					color: rgb(179, 179, 179);
				}
				&.close-tab {
					padding-left: 0.7vw;
					padding-right: 0.7vw;
				}
			}
		}

		.image-profile {
			height: 100%;
			width: 5vw;
			padding: 0.5vw 0 0.5vw 1vw;
			// background-color: royalblue;

			display: flex;
			justify-content: center;
			align-items: center;

			.image-size {
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					max-height: 100%;
					max-width: 100%;
				}
			}
		}

		.profile-info {
			padding: 0 1vw;

			.upper {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}

			.active-status-light {
				width: 0.35vw;
				height: 0.35vw;
				border-radius: 0.2vw;
				margin-left: 0.5vw;
				margin-top: 0.2vw;
			}

			.active-status-light.online {
				background-color: #ffff00;
			}

			.active-status-light.offline {
				background-color: #c4c4c4;
			}

			// .active-status-light.disable{
			//     background-color: #ffff00;
			// }

			span {
				font-size: 0.6vw;
				font-weight: 400;
			}

			h1 {
				color: rgb(179, 179, 179);
			}
		}

		.progress-section,
		alarm-section {
			// width: 15vw;
			height: 100%;
			padding: 0 1vw;
			// background-color: royalblue;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		.progress-btn {
			display: flex;
			flex-direction: row;
			padding: 0.4vw 1vw;
			border-radius: 2vw;
			background-color: transparent;
			border: solid 0.05vw rgb(179, 179, 179);

			.progress-bar-section {
				display: flex;
				flex-direction: row;
				align-items: center;

				.progress-bar-container {
					width: 5vw;
					margin-right: 0.2vw;
					position: relative;

					// display: flex;
					// flex-direction: row;
					// justify-content: center;
					.MuiLinearProgress-root {
						height: 1vw;
					}

					.status {
						// position: absolute;
						z-index: 2;
						color: rgb(255, 255, 255);
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						text-shadow: #000 0px 0px 0.05vw;
						-webkit-font-smoothing: antialiased;
					}
				}

				.connecting-bar {
					.MuiLinearProgress-colorPrimary {
						background-color: transparent;
						border: solid 0.05vw#00CC00;
						border-radius: 2vw;
					}

					.MuiLinearProgress-barColorPrimary {
						background-color: #00cc00;
						border: solid 0.05vw #00cc00;
					}
				}
			}
		}

		.alarm-btn {
			padding: 0.4vw 1vw;
			border-radius: 2vw;
			background-color: transparent;
			border: solid 0.05vw #ffff00;
			-webkit-box-shadow: 0px 0px 0.25vw 0px #ffff00;
			-moz-box-shadow: 0px 0px 0.25vw 0px #ffff00;
			box-shadow: 0px 0px 0.25vw 0px#ffff00;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		// background-color: saddlebrown;
		height: 33vw;

		.port-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.info-section {
			display: flex;
			flex-direction: row;
			width: 100%;
			height: 40%;
			justify-content: center;
			padding: 1vw;

			.section {
				background-color: rgb(24, 24, 24);
				box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
				margin-right: 1vw;
				padding: 0;

				&:nth-last-child(1) {
					margin-right: 0;
				}
			}

			.info-status {
				height: 100%;
				width: 30%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 1vw;

				.sub-section {
					display: flex;
					flex-direction: row;
					justify-content: space-around;
				}
			}

			.port-summary {
				height: 100%;
				width: 30%;
				display: flex;
				flex-direction: column;

				// justify-content: center;
				// align-items: center;
				// background-color: red;
				.content {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}

				.input-group {
					.left {
						width: 50%;
						justify-content: flex-end;
						padding-right: 0.5vw;
					}

					.right {
						width: 50%;
						margin-left: 0.5vw;
					}
				}
			}

			.task-section {
				height: 100%;
				width: 30%;
				// background-color: rgb(66, 66, 153);
			}

			.envi-section {
				height: 100%;
				// width: 30s%;
				// background-color: rgb(38, 129, 91);
			}
		}

		.port-section {
			height: 60%;
			// padding: 1vw;
			// background-color: royalblue;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0.5vw;

			.panel-size {
				padding: 0.5vw;
				border-radius: 1vw;
				background-color: rgb(24, 24, 24);
			}

			.duplex-port {

			}
		}
	}

	.row {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.2vw;

		&:nth-child(4) {
			margin-bottom: 1.5vw;
			// height: 2vw;
			// background-color: red;
		}

		// &:nth-child(6) {
		//     margin-bottom: 0;
		// }
	}

	.group.model-576d {
		width: 6.2vw;
		display: flex;
		flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
		// background-color: rgba(24, 24, 24, 1);
		margin-right: 0.5vw;
		padding: 0.1vw 0.1vw;
		border-radius: 0.5vw;
        background-color: #242424;

		// border: solid 0.05vw rgba(64, 64, 64, 1);
		// padding: 0.2vw;
		&:nth-last-child(1) {
			margin-right: 0;
		}
        
		.port:nth-child(2n) {
			order: 1;
			// margin-top: 0.5vw;
		}
        // &::after {
        //     content: '';
        //     width: 100%;
        //   }
	}

	.group {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		// background-color: rgba(24, 24, 24, 1);
		margin-right: 0.5vw;
		padding: 0.1vw 0.1vw;
		border-radius: 0.2vw;

		// border: solid 0.05vw rgba(64, 64, 64, 1);
		// padding: 0.2vw;
		&:nth-last-child(1) {
			margin-right: 0;
		}
	}

	.port.model-576d {
		flex-direction: row;
        justify-content: flex-end;
		width: 2.4vw;
		height: 1.1vw;
		.light-status {
			height: 0.7vw;
			width: 0.2vw;
			background-color: #242424;
			box-shadow: 0 0 0.1vw 0.05vw #242424;
			border-radius: 0.2vw;
			// margin-right: 0.2vw;
		}
        span{
            width: 80%;
            text-align: center;
        }
        .light-box {
            width: 20%;
            height: 100%;
            border-radius: 0.2vw;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: rgb(24, 24, 24);
    
            // padding: 0.2vw;
        }
	}
	.port {
		// width: 100%;
		// border: solid 0.05vw rgb(64, 64, 64);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: center;

		width: 1.35vw;
		height: 1.8vw;
		border-radius: 0.2vw;
		margin: 0.1vw;
		padding: 0.1vw;
		background-color: rgba(16, 16, 16, 1);
		box-shadow: 0 0 0.1vw 0.05vw rgba(61, 61, 61, 0.712);

		span {
			font-weight: 400;
			font-size: 0.55vw;
			letter-spacing: 0.05vw;
		}
		&.group-space {
			margin-right: 0.7vw;
		}
	}

	.model-288d .port{
		width: 3vw;
		.light-box {
			justify-content: space-evenly;
		}
	}

	.port-canvas {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 80%;
		// eight: 100%;
		// width: 40%;
		// padding: 0.5vw;
		// margin-bottom: 1vw;

		// border-radius: 0.25vw;
		// background-color: rgb(24, 24, 24);
		// -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
		// -moz-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
		// box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);

		.v-center-container {
			// height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			width: 60%;
			height: 100%;

			.limiting-size {
				margin: 0.5vw;
				position: relative;
				width: 90%;

				// height: 90%;

				// border-radius: 0.25vw;
				// padding: 0.25vw 8px;
				// height: 300px;
				h2 {
					margin-bottom: 0.5vw;
				}
			}
		}
	}

	.header-text {
		margin: 0.5vw 0 0 1vw;
	}

	.number-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 5.5vw;
		height: 4vw;

		span.main-number {
			font-weight: 600;
			font-size: 1.2vw;
			margin-bottom: 0.3vw;
		}
	}

	.STATE_READY {
		border: solid 0.05vw #00ff00 !important;
	}

	.STATE_INITIAL {
		border: solid 0.05vw #ffff00 !important;
	}

	.STATE_OPERATING {
		border: solid 0.05vw #00ff00 !important;
		animation: 1s border-blink ease infinite;
	}

	.STATE_STOP {
		border: solid 0.05vw #ff0000 !important;
	}

	.light-box {
		width: 100%;
		height: 50%;
		border-radius: 0.2vw;
		display: flex;
		justify-content: center;
		align-items: center;
		// background-color: rgb(24, 24, 24);

		// padding: 0.2vw;
	}

	.light-status {
		width: 0.7vw;
		height: 0.2vw;
		background-color: #242424;
		box-shadow: 0 0 0.1vw 0.05vw #242424;
		border-radius: 0.2vw;
		// margin-right: 0.2vw;
	}

	.connected {
		cursor: pointer;

		.light-status {
			background-color: #ff0000 !important;
			// box-shadow: 0 0 0.1vw 0.05vw #ff0000 !important;
		}
	}

	.available {
		.light-status {
			background-color: #00cc00 !important;
			// box-shadow: 0 0 0.1vw 0.05vw #ffbb00 !important;
		}
	}

	.disabled {
		opacity: 0.3;

		.light-status {
			background-color: rgb(122, 110, 110) !important;
			box-shadow: 0 0 0.1vw 0.05vw rgb(122, 110, 110) !important;
		}
	}

	.connecting {
		animation: 1s connect-blink ease infinite;

		.light-status {
			background-color: #00cc00 !important;
			// box-shadow: 0 0 0.1vw 0.05vw #ffbb00 !important;
			animation: 1s blink ease infinite;
			-webkit-animation: 1s blink ease infinite;
			-moz-animation: 1s blink ease infinite;
			-ms-animation: 1s blink ease infinite;
			-o-animation: 1s blink ease infinite;
		}
	}

	.disconnecting {
		animation: 1s disconnect-blink ease infinite;

		.light-status {
			background-color: #ff0000 !important;
			// box-shadow: 0 0 0.1vw 0.05vw #ffbb00 !important;
			animation: 1s blink ease infinite;
			-webkit-animation: 1s blink ease infinite;
			-moz-animation: 1s blink ease infinite;
			-ms-animation: 1s blink ease infinite;
			-o-animation: 1s blink ease infinite;
		}
	}

	.recovering {
		animation: 1s recover-blink ease infinite;

		.light-status {
			background-color: #4d4dff !important;
			// box-shadow: 0 0 0.1vw 0.05vw #ffbb00 !important;
			animation: 1s blink ease infinite;
			-webkit-animation: 1s blink ease infinite;
			-moz-animation: 1s blink ease infinite;
			-ms-animation: 1s blink ease infinite;
			-o-animation: 1s blink ease infinite;
		}
	}

	.locking {
		animation: 1s lock-blink ease infinite;

		.light-status {
			background-color: #c4c4c4 !important;
			// box-shadow: 0 0 0.1vw 0.05vw #ffbb00 !important;
			animation: 1s blink ease infinite;
			-webkit-animation: 1s blink ease infinite;
			-moz-animation: 1s blink ease infinite;
			-ms-animation: 1s blink ease infinite;
			-o-animation: 1s blink ease infinite;
		}
	}

	.available_intercon {
		.light-status {
			background-color: #4da6ff !important;
			// box-shadow: 0 0 0.1vw 0.05vw #6666FF !important;
		}
	}

	.interconnecting {
		animation: 1s interconnect-blink ease infinite;

		.light-status {
			background-color: #4da6ff !important;
			// box-shadow: 0 0 0.1vw 0.05vw #ffbb00 !important;
			animation: 1s blink ease infinite;
			-webkit-animation: 1s blink ease infinite;
			-moz-animation: 1s blink ease infinite;
			-ms-animation: 1s blink ease infinite;
			-o-animation: 1s blink ease infinite;
		}
	}

	.used_intercon {
		cursor: pointer;

		.light-status {
			background-color: #8234e9 !important;
			// box-shadow: 0 0 0.1vw 0.05vw #6666FF !important;
		}
	}

	.disinterconnecting {
		animation: 1s disinterconnect-blink ease infinite;

		.light-status {
			background-color: #8234e9 !important;
			// box-shadow: 0 0 0.1vw 0.05vw #ffbb00 !important;
			animation: 1s blink ease infinite;
			-webkit-animation: 1s blink ease infinite;
			-moz-animation: 1s blink ease infinite;
			-ms-animation: 1s blink ease infinite;
			-o-animation: 1s blink ease infinite;
		}
	}

	.noti-icon-margin {
		margin-right: 0.2vw;
	}

	@keyframes blink {
		from,
		to {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}
	}

	@keyframes border-blink {
		from,
		to {
			border: solid 0.05vw #00ff0000;
		}

		50% {
			border: solid 0.05vw #00ff00;
		}
	}

	@keyframes disconnect-blink {
		from,
		to {
			border: solid 0.05vw #ff000000;
		}

		50% {
			border: solid 0.05vw #ff0000;
		}
	}

	@keyframes connect-blink {
		from,
		to {
			border: solid 0.05vw #00cc0000;
		}

		50% {
			border: solid 0.05vw #00b400;
		}
	}

	@keyframes interconnect-blink {
		from,
		to {
			border: solid 0.05vw #4da6ff00;
		}

		50% {
			border: solid 0.05vw #4da6ff;
		}
	}

	@keyframes disinterconnect-blink {
		from,
		to {
			border: solid 0.05vw #6666ff00;
		}

		50% {
			border: solid 0.05vw #6666ff;
		}
	}

	@keyframes recover-blink {
		from,
		to {
			border: solid 0.05vw #4d4dff00;
		}

		50% {
			border: solid 0.05vw #4d4dff;
		}
	}

	@keyframes lock-blink {
		from,
		to {
			border: solid 0.05vw #c4c4c400;
		}

		50% {
			border: solid 0.05vw #c4c4c4;
		}
	}
}
