.remaining-task-container {
    width: 100%;
    height: 100%;

    .content {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        // align-items: center;

        padding: 1vw;
    }

    .table-container {
        width: 90%;
        padding: 1vw;
        border-radius: 0.5vw;
        background-color: rgb(24, 24, 24);
    }
    .table-size {
        // background-color: royalblue;
        min-height: 6.5vw;
        max-height: 34.5vw;
        overflow: auto;
        input {
            max-width: 100%;
        }
        .progress-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .progress-bar-container {
                width: 70%;

                // display: flex;
                // flex-direction: row;
                // justify-content: center;
            }

            span {
                width: 30%;
            }
            .MuiLinearProgress-root {
                height: 0.75vw;
                border-radius: 0.5vw;
                animation: 1s shadow-blink ease infinite;
                -webkit-box-shadow: 0.05vw 0.05vw 0.05vw 0.05vw
                    rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 0.05vw 0.05vw 0.05vw 0.05vw rgba(0, 0, 0, 0.4);
                box-shadow: 0.05vw 0.05vw 0.05vw 0.05vw rgba(0, 0, 0, 0.4);
            }

            .connecting-bar {
                .MuiLinearProgress-colorPrimary {
                    background-color: transparent;
                    border: solid 0.05vw#00CC00;
                }

                .MuiLinearProgress-barColorPrimary {
                    background-color: #00cc00;
                    border: solid 0.05vw #00cc00;
                }
            }
        }
    }
    .lr-container {
        padding-bottom: 0.5vw;
    }
    .search-input {
        padding: 0.3vw 1vw;
        border-radius: 1vw 0 0 1vw;
        width: 10vw;
    }

    .search-btn {
        margin: 0;
        padding: 0.3vw 0.5vw;
        border-radius: 0 1vw 1vw 0;
    }
    .pagination-container {
        select {
            width: 3vw;
            margin-right: 0.75vw;
        }
    }

    th{
        height: 2vw;
    }
    .no-remaining-task {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        .camera-offline {
            color: #b3b3b3;
            font-size: 1.5vw;
            font-weight: 600;
            opacity: 0.2;
            letter-spacing: 0.1vw;
        }
    }
}
