.confirmStyle {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	// header {
	//     padding: 0.8vw 0 0 0;

	//     h1 {
	//         font-size: 1.2vw;
	//         font-weight: 400;
	//         color: rgb(179, 179, 179);
	//         letter-spacing: 0.05vw;
	//         margin-bottom: 0.25vw;
	//     }

	// }
	header {
		padding: 0;
	}

	hr {
		// width: 92%;

		// padding: 0;
		// // border-style: inset;
		// // border-width: 0.1vw;
		// border: solid 0.1vw rgba(179, 179, 179, 0.575);
		margin: 0.5vw 0;
		border: 0;
		height: 0;
		border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
		border-bottom: 0.05vw solid rgba(255, 255, 255, 0.3);
	}

	
	h2{
		font-size: 0.8vw;
	}

	.paragraph {
		// background-color: blanchedalmond;
		max-height: 4vw;
		overflow: auto;
		// margin: 0 1vw 0.25vw;

		span {
			font-size: 0.75vw;
			font-weight: 400;
		}
	}

	.btn-row {
		padding: 1vw 0 0;
	}

	.btn-group {
		// position: absolute;
		// top: 100%;
		// background-color: rgb(172, 150, 119);
		width: 100%;
		height: 25%;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	form{
		display: flex;
		flex-direction: column;
	}
}
.confirmLoginStyle {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	// header {
	//     padding: 0.8vw 0 0 0;

	//     h1 {
	//         font-size: 1.2vw;
	//         font-weight: 400;
	//         color: rgb(179, 179, 179);
	//         letter-spacing: 0.05vw;
	//         margin-bottom: 0.25vw;
	//     }

	// }
	header {
		padding: 0;
	}

	hr {
		// width: 92%;

		// padding: 0;
		// // border-style: inset;
		// // border-width: 0.1vw;
		// border: solid 0.1vw rgba(179, 179, 179, 0.575);
		margin: 0.5vw 0;
		border: 0;
		height: 0;
		border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
		border-bottom: 0.05vw solid rgba(255, 255, 255, 0.3);
	}

	
	h2{
		font-size: 0.8vw;
	}

	.paragraph {
		// background-color: blanchedalmond;
		// height: 4vw;
		// overflow: auto;
		// margin: 0 1vw 0.25vw;

		span {
			font-size: 0.75vw;
			font-weight: 400;
		}

		.user-replace-options {
			max-height: 10vw;
			width: 100%;

			margin: 1vw 0;

			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			// align-items: center;
			overflow: auto;
		}
	}

	.btn-row {
		padding: 0;

		.submit {
			padding: 0.5vw 1vw;
		}
	}

	.btn-group {
		// position: absolute;
		// top: 100%;
		// background-color: rgb(172, 150, 119);
		width: 100%;
		height: 25%;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}
	.option {
		margin-left: 2vw;
		margin-bottom: 0.2vw;
		width: fit-content;
		background-color: transparent !important;
		border: solid 0.05vw rgb(64, 64, 64);
		color: rgb(179, 179, 179);
		padding: 0.4vw 0.8vw 0.4vw 0.3vw;
		input {
			width: 1vw;
			margin-right: 0.5vw;
		}
	}
}
.confirmWithRemark {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	hr {
		margin: 0.5vw 0;
		border: 0;
		height: 0;
		border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
		border-bottom: 0.05vw solid rgba(255, 255, 255, 0.3);
	}

	h2{
		font-size: 0.8vw;
	}

	.paragraph {
		// background-color: blanchedalmond;

		display: flex;
		flex-direction: column;

		height: 50%;
		overflow: auto;

		margin: 0;

		span {
			font-size: 0.75vw;
			font-weight: 400;
			margin-bottom: 0.5vw;
			display: block;
			// height: 2vw;
			min-height: 2vw;
			overflow-x: auto;
		}
	}

	.btn-row {
		padding: 1vw 0 0;
	}

	.btn-group {
		// position: absolute;
		// top: 100%;
		// background-color: rgb(172, 150, 119);
		width: 100%;
		height: 25%;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}
	form{
		display: flex;
		flex-direction: column;
	}
}
