.inform-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1.5vw;

    header{
        h1 {
            color: #eeeeee;
        }
    }

	span {
		font-size: 0.8vw;
		text-align: center;
		white-space: pre-wrap;
	}

	.green {
		color: #00cc00;
		font-size: 2vw;
		margin-bottom: 1vw;
	}
	.red {
		color: #ff0000;
		font-size: 2vw;
		margin-bottom: 1vw;
	}
}
