// .ReactModal__Overlay {
//     opacity: 1;
//     transition: none;
//   }
  
//   .ReactModal__Overlay--after-open {
//     opacity: 1;
//   }
  
//   .ReactModal__Overlay--before-close {
//     opacity: 1;
//   }

  
.loading-center{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}