.edit-customer-container{

    // hr {
    //     margin: 0.5vw;
    //     height: 8px;
    //     // background-color: red;
    //     background-image: linear-gradient(90deg,transparent, #960c1c, transparent);

    //     border: 0;
    //     height: 1px;
    // }
    .sm-tab-black{
        background-color: #181818;
    }
    .input-group{
        .left{ width: 40%; padding-left: 1.5vw;}
        .right{ width: 60%;}
        .checkbox input{
            width: 1vw;
        }
    }
    .disabled{
        opacity: 0.5;
    }
    input{
        background-color: rgb(64,64,64);
        
        border: solid 0.1vw rgb(40, 40, 40);
        
    }

    form {
        display: flex;
        flex-direction: column;
      }
    
}