.remote-authentication-container {
	// display: flex;
	// justify-content: center;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	// position: relative;
	width: 100%;
	height: 100%;

	.system-management-layout {
		display: flex;
		flex-direction: row;
		width: 100%;
		// height: 100%;
		padding: 1vw;

		.registration {
			width: 25%;
			height: fit-content;
			// height: 300px;
			background-color: rgb(24, 24, 24);
			margin-right: 1vw;
			padding: 1vw;
			// border: solid 1px black;
			border-radius: 0.25vw;

			.regis-form {
				border-radius: 0.25vw;
				background-color: rgb(40, 40, 40);
				padding: 1vw;
				margin: 0 0 1vw 0;

				display: flex;
				flex-direction: column;
				justify-content: center;

				input{
					border: solid 0.1vw rgb(40, 40, 40);
				}
			}

			hr {
				margin-left: 1vw;
				margin-right: 1vw;
			}

			.input-group {
				.left {
					width: 40%;
					justify-content: flex-start;
					padding-left: 2vw;
				}
				.right {
					width: 60%;
				}
			}
		}
        .inform {
			background-color: transparent;
            
			i {
				font-size: 1vw;
                color: #b3b3b3;
			}
		}

		.management-container {
			width: 75%;
			height: 100%;

			.filter-container {
				height: 50%;
				margin: 0.5vw;
				padding: 0.5vw 0.75vw;
				border-radius: 0.5vw;

				background-color: rgb(24, 24, 24);

				// border-radius: 0.25vw;
				// background-color: rgb(40, 40, 40);
				// padding: 0.5vw 0.5vw;
				// margin: 0 0 0.5vw 0;

				.input-group {
					display: flex;
					flex-direction: row;
					padding: 0.25vw 0;

					.left {
						width: 30%;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.right {
						width: 70%;
						display: flex;
						justify-content: flex-start;
						align-items: center;
					}
				}
			}

			.editting-container {
				// margin: 0.5vw;
				padding: 1vw;
				border-radius: 0.5vw;
				background-color: rgb(24, 24, 24);

				.table-container {
					// background-color: rgb(40, 40, 40);
					max-height: 35vw;
					overflow: auto;
				}
			}
		}

		// table,
		td {
			cursor: default;
			// border: solid 1px rgba(0, 0, 0, 0.089);
		}

		// table {
		//     width: 100%;

		//     border-collapse: collapse;

		// }

		// tr:nth-child(n+2):hover {
		//     background-color: rgb(64, 64, 64);

		// }

		// th,
		// td {
		//     padding: 3px;

		// }

		// th {
		//     position: sticky;
		//     top: 0;
		//     background-color: rgb(40, 40, 40);
		//     // span{
		//     //     font-size: 14px;
		//     //     font-weight: 400;
		//     // }
		// }

		// td{
		//     span{
		//         font-size: 14px;
		//         font-weight: 300;
		//     }

		// }
		.text-center {
			text-align: center;
		}
	}

	.registration-form {
		padding: 1vw;

		border-radius: 0.5vw;
		width: 30rem;
		background-color: rgb(40, 40, 40);

		header {
			// text-align: center;
			margin: 0 0 1vw 1vw;
		}

		.submit-box {
			display: flex;
			justify-content: flex-end;

			button {
				border-radius: 0.25vw;
				padding: 3px 0.5vw;
			}
		}
	}

	.submit-regis {
		margin: 1vw 0 0 0;
	}

	.edit-system-body {
		width: 400px;
		height: 220px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: relative;

		border: 1px solid rgb(204, 204, 204);
		background: #ffffff;
		overflow: auto;
		border-radius: 4px;
		outline: none;
		padding: 0 30px;
	}

	.disabled {
		opacity: 0.2;
	}
	input,
	select {
		background-color: rgb(64, 64, 64);
	}

	form {
		display: flex;
		flex-direction: column;
	  }

	  th{
        height: 2vw;
    }
	.no-remaining-task {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        .camera-offline {
            color: #b3b3b3;
            font-size: 1.5vw;
            font-weight: 600;
            opacity: 0.2;
            letter-spacing: 0.1vw;
        }
    }
}

.remote-editing-container {
	.__react_component_tooltip {
		border-radius: 0.15vw;
		display: inline-block;
		font-size: 0.65vw;

		width: 20vw;
		overflow: hidden;
		opacity: 0;
		padding: 0.4vw 1vw;
		position: fixed;
		pointer-events: none;
		transition: opacity 0.3s ease-out;

		visibility: hidden;
		z-index: 999;
	}
    hr {
        margin-left: 1vw;
        margin-right: 1vw;
    }

	.content {
		// padding: 0.5vw;
		.input-form {
			background-color: rgb(24, 24, 24);
			padding: 1vw;
			border-radius: 0.5vw;

			margin-bottom: 1vw;
			input{
				border: solid 0.1vw rgb(40, 40, 40);
			}
		}
		input,
		select,
		option {
			width: 10vw;
		}
		.inform {
			background-color: transparent;
            
			i {
				font-size: 1vw;
                color: #b3b3b3;
			}
		}
	}
	.input-group {
		.left {
			width: 45%;
			padding-left: 1vw;
		}
		.right {
			width: 55%;
		}
	}
	.with-note {
		// width: 15vw;
		.left,
		.right {
			// flex-direction: r;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}

	form {
		display: flex;
		flex-direction: column;
	}

	th{
        height: 2vw;
    }
}
