.auto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px 20px 10px;

    // hr {
    //     width: 97%;
    //     margin: 5px 0;
    //     padding: 0;
    //     border-style: inset;
    //     // border-width: 1px;
    //     border: solid 1px rgba(179, 179, 179, 0.5);
    // }

    .select-header {
        width: 100%;
        margin: 0 10px 0 0;
        padding: 0 0 0 10px;
    }

    .radio1 {
        border-radius: 0.5vw 0 0 0.5vw;
    }

    .radio2 {
        border-radius: 0 0.5vw 0.5vw 0;
    }

    .system-info {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-radius: 1vw;

        .top-box {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: rgb(24, 24, 24);
            margin-bottom: 0.3vw;
            // border-radius: 0.5vw;
            padding: 0.5vw;

            .image-box {
                width: 100%;
                height: 5vw;
                // width: 10vw;
                // height: 100%;
                padding: 10px;
                display: flex;

                // flex-direction: row;
                // justify-content: center;
                // align-items: center;

                // align-items: center;
                .system-image {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5vw;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .system-detail {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    // justify-content: center;
                    // align-items: center;
                    input {
                        width: 7vw;
                    }

                    .input-group {
                        padding: 0.1vw;

                        .left {
                            width: 25%;
                            padding-left: 0.5vw;
                        }

                        .right {
                            width: 75%;
                        }
                        
                    }

                    .port-row {

                        .left {
                            width: 30%;
                        }

                        .right {
                            width: 70%;
                        }
                    }


                }



            }
        }

    }

    .quantity-input {
        display: flex;
        // flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 21vw;
        background-color: rgb(24, 24, 24);
        border-radius: 0.5vw;

        input {
            margin-right: 1vw;
        }
    }

    .btn-row{
        margin-top: 1vw;
        width: 16vw;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        padding: 1vw;
        width: 50%;
        // align-items: center;
        .header {
            width: 16vw;
            display: flex;
            justify-content: flex-start;
            padding: 0 0 1vw 0;
        }
        .group{
            // width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 16vw;
            border-radius: 0.25vw;
            background-color: rgb(40, 40, 40);
            padding: 1vw
        }

        .input-group {
            width: 100%;
            .left {
                width: 70%;
                justify-content: flex-start;
                padding-right: 0.5vw;
            }

            .right {
                width: 30%;

                input {
                    width: 3.2vw;
                }
            }

        }
    }

    input{
        background-color: rgb(64,64,64);
    }

    hr {
        // width: 92%;
        
        // padding: 0;
        // // border-style: inset;
        // // border-width: 0.1vw;
        // border: solid 0.1vw rgba(179, 179, 179, 0.575);
        margin: 0.2vw 0;
        border: 0;
        height: 0;
        border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
        border-bottom: 0.05vw solid rgba(255, 255, 255, 0.3);
    }


}