.connection-table-container{
    
    .content{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .table-size{
            // width: 50vw;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            width: 90%;
            min-height: 10vw;
            max-height: 18vw;
            overflow: auto;
        }
    }
    .fit-parent{
        width: 100%;
    }
    .btn-row{
        padding-right: 1.5vw;
    }
}