.disconnection-page {
    width: 100%;
    height: 100%;

    // padding: 10px;

    .content {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        // align-items: center;

        padding: 1vw;
        .task-table {
            width: 80%;
        }
    }

    .checkbox-td {
        input {
            width: fit-content;
        }
    }
    .highlight {
        background-color: slateblue;
    }
    .btn-row {
        padding: 0.25vw 0;
    }
    .table-container {
        width: 80%;
        padding: 0.5vw;
        border-radius: 0.5vw;
        background-color: rgb(24, 24, 24);
    }
    .table-size {
        // background-color: royalblue;
        min-height: 12.5vw;
        max-height: 36.5vw;
        overflow: auto;
        input {
            max-width: 100%;
        }
        ::-webkit-input-placeholder {
            text-align: center;
        }

        :-moz-placeholder {
            /* Firefox 18- */
            text-align: center;
        }

        ::-moz-placeholder {
            /* Firefox 19+ */
            text-align: center;
        }

        :-ms-input-placeholder {
            text-align: center;
        }
    }
    //   tr:nth-child(2) {
    //     position: sticky;
    //     top: 3vw;
    //     background-color: rgb(40, 40, 40);
    //   }

    th{
        height: 2vw;
    }
    .no-remaining-task {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        .camera-offline {
            color: #b3b3b3;
            font-size: 1.5vw;
            font-weight: 600;
            opacity: 0.2;
            letter-spacing: 0.1vw;
        }
    }

    .no-hovering:hover{
        background-color: transparent; 
    }
   
}

.no-connection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
    span {
        color: #b3b3b3;
        font-size: 1.5vw;
        font-weight: 600;
        opacity: 0.2;
        letter-spacing: 0.1vw;
    }
}