@import url("https://fonts.googleapis.com/css?family=Roboto");

.navbar {
    height: 4.2vw;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    border-bottom: 0.1vw solid rgba(64, 64, 64, 0.233);

    .left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        height: 100%;
        width: 25%;
        padding: 0 0 0 1vw;

        .logo {
            width: 8vw;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

    .navigation-link {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    .logout-btn {
        cursor: pointer;
        padding: 0.4vw 1vw;
    }

    .notification {
        display: flex;

        height: 100%;
        width: 25%;
        padding: 0 1vw 0 0;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    h1 {
        text-align: center;
        color: #eeeeee;
        font-size: 0.8vw;
        font-weight: 500;
        letter-spacing: 0.05vw;

        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
        opacity: 0.7;
        
    }

    // h2 {
    //   // letter-spacing: 0.1vw;
    //   font-size: 0.8vw;
    //   font-weight: 500;
    //   letter-spacing: 0.05vw;

    //   // margin-top: 0.5vw;
    //   // margin-bottom: 0.5vw;
    // }

    .role-text {
        opacity: 0.6;
        margin-left: 0.2vw;
    }

    li {
        height: 2vw;
        width: 9vw;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        // border: 1px solid rgba(64, 64, 64, 0.445);
        // background-color: red;
    }

    li:hover {
        background-color: #5a0605;
        // background-color: #6b0604e8;

        // border: 1px solid #6B0F1A;
        h1{
            opacity: 1;
        }
    }

    .noti-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 1vw;
        padding: 0.4vw 0.8vw 0.4vw 0.7vw;
        span {
            margin-left: 0.4vw;
        }
    }

    .current-page{
        background-color: #6b0504 !important;
        h1{
            opacity: 1;
        }
    }

    .user-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: transparent;
        border: solid 0.1vw rgba(179, 179, 179, 0.356);
        padding:  0.2vw 0.35vw;
        margin-right: 1vw;

        .remote-btn {
            i {
                font-size: 0.6vw;
            }
            display: flex;
            // flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 2vw;
            // padding: 0.2vw 0.15vw;
            padding: 0.35vw 0.4vw 0.35vw 0.35vw;
            background-color: #6b0504;
            margin-right: 0.3vw;
            // border: 0.05vw solid #404040;
        }
        .top {
        }

        .column-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 0.25vw;
            span {
                line-height: 0.6vw;
                font-size: 0.5vw;
                font-weight: 400;
            }
        }
    }
    .user-btn.local{
        .remote-btn{
            padding: 0.35vw 0.45vw 0.35vw 0.35vw;
        }
    }
    .dropdown {
        // position: relative;

        .dropdown-content {
            display: none;
            position: fixed;

            width: 9vw;
            // top: 1px;
            // left: 50%;
            // transform: translate(-50%, 0);
            // background-color: #f9f9f9;
            // min-width: 160px;
            box-shadow: 0px 0.4vw 0.8vw 0px rgba(0, 0, 0, 0.2);

            ul {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                list-style-type: none;

                li {
                    // border: 1px solid rgba(64, 64, 64, 0.233);
                    z-index: 3;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0 0.5vw 0;
                    background-color: rgb(24, 24, 24);
                }

                li:hover {
                    background-color: #5a0605;
                }
            }
        }
    }

    .dropdown:hover {
        .dropdown-content {
            display: block;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        list-style-type: none;
    }

    a {
        text-align: center;
        // margin: 0 20px;
        // padding: 10px 0 10px 0;
        text-decoration: none;
        font-weight: 500;
        color: #ccc5c5;
        display: block;
        opacity: 1;
    }

    a:hover {
        color: #f1f1f1;
    }
}

.connect-toggle {
    display: block;

    li {
        a {
            font-weight: 100;
        }
    }
}

// @media only screen and (max-width: 1600px) {
//   .navbar {
//     width: 50px;
//   }
// }

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block !important;
    overflow: hidden;
    max-width: 7vw;
}