.header {
    

    /* justify-content: space-between; */


    .header-left {
        width: 100%;

        /* align-items: center ; */
        img {
            height: 100%;
            margin: 2px;
        }
    }


    .header-right {
        width: 100%;
        text-align: right;
    }

}

/* .header .header-left button {
    padding: 5px;
} */

// .logo {

//     margin-left: 1rem;
//     padding: 5px;

// }