.home {
  .navbar {
    width: 100vw;
    position: fixed;
    background-color: rgb(24, 24, 24);
    z-index: 5;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .main-content {
    height: 44.5vw;
    width: 100%;
    position: absolute;
    top: 4.14vw;
    background-color: rgb(16, 16, 16);
    overflow: auto;

  }
}