.customer-management-container{
    .content{
        width: 100%;
        padding: 1vw;

        display: flex;
        justify-content: space-evenly;

        .register-tab{
            width: 25%;
            padding: 1vw;
            margin-right: 1vw;
            height: fit-content;
            .registration-form{
                width: 100%;
                .input-group{
                    .left{ 
                        width: 40%;
                        padding-left: 2vw;
                    }
                    .right{ 
                        width: 60%;
            
                        input{
                            background-color: rgb(64,64,64);
                            border: solid 0.1vw rgb(40, 40, 40);
                        }
                    }
                }
            }
            
        }
        .customer-tab{
            width: 75%;
            height: fit-content;
            padding: 1vw;
            .list-container{
                width: 100%;
                .table-size{
                    max-height: 35.8vw;
                    // max-height: 15.8vw;
                    overflow: auto;

                }
                // border: solid 1px rgb(40, 40, 40);
            }
        }




        .upper-tab{
            padding: 0.5vw;
            border-radius: 1vw;

            margin-bottom: 0.5vw;
        }
    }
    td{
        cursor: default;
    }


    hr {
        // margin: 0.5vw;
        // height: 8px;
        // // background-color: red;
        // background-image: linear-gradient(90deg,transparent, #960c1c, transparent);

        // border: 0;
        // height: 1px;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .text-left{
        margin-left: 0.5vw;
    }

    form {
        display: flex;
        flex-direction: column;
      }
    
      th{
        height: 2vw;
    }
    .no-remaining-task {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        .camera-offline {
            color: #b3b3b3;
            font-size: 1.5vw;
            font-weight: 600;
            opacity: 0.2;
            letter-spacing: 0.1vw;
        }
    }
}