.visualization-container {
	position: relative;

	#cy {
		width: 100%;
		height: 39vw;
		// height: 500px;
		display: block;
		z-index: 0;
		background: hsl(0, 0, 20%);
		border-radius: 0.5vw;
		//   position: absolute;
	}

	.content {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1vw;
		// border-radius: 0.5vw;
	}
	.left {
		position: absolute;
		z-index: 2;
		top: 4.1vw;
		left: 11.5vw;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		padding: 0.2vw 0.5vw;
		border-radius: 0.2vw;
		background-color: rgb(40, 40, 40);
		-webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
	}

	.header-name {
		margin: 0;

		span:nth-child(n + 2)::before {
			content: " > ";
		}

		span {
			color: #b3b3b3;
			font-size: 0.7vw;
			font-weight: 500;
			letter-spacing: 0.1vw;
		}
	}

	.edit-global {
		position: absolute;
		display: flex;
		z-index: 2;
		top: 3.8vw;
		left: 2vw;
		&.submit {
			margin: 0;
		}
	}
	.reset-element-visual {
		position: absolute;
		display: flex;
		z-index: 2;
		top: 6.2vw;
		left: 2vw;
	}

	.tips-box {
		position: absolute;
		z-index: 1;
		top: 6.5vw;
		left: 2vw;
		background: rgba(64, 64, 64, 0.8);
		padding: 0.5vw 1vw;
		border-radius: 1vw;
		border: solid 0.1vw rgb(99, 99, 99);
		h2{
			padding: 0 0 0.5vw 0;
		}
		.color-tag {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}
		span {
			line-height: 1vw;
		}
		.color-line {
			display: block;
			width: 2vw;
			height: 0.2vw;
			margin-right: 0.5vw;
			&.east-east {
				background-image: linear-gradient( to right , #0c0 , #0c0);
			}
			&.east-west {
				background-image: linear-gradient( to right , #0c0 , #4d4dff);
			}
			&.west-east {
				background-image: linear-gradient( to right , #4d4dff , #0c0);
			}
			&.west-west {
				background-image: linear-gradient( to right , #4d4dff , #4d4dff);
			}
		}
	}

	.back-btn {
		padding: 0.15vw 0.5vw;
		margin-right: 0;
		margin-left: 0.7vw;
	}
	.back-btn:hover {
		background-color: rgb(64, 64, 64);
		.back {
			color: rgb(179, 179, 179);
		}
	}

	.back {
		color: rgb(40, 40, 40);
	}
}
