.edit-port-config-container{
    .content{
        background-color: rgb(24, 24, 24);
        padding: 1vw 0;
        border-radius: 0.5vw;
        margin-bottom: 1vw;
        .input-group{
            .left{ 
                justify-content: flex-end;
                width: 35%;
                padding-right: 1vw;
                padding-left: 0;
            }
            .right{ 
                width: 65%;
            }
        }
        input{
            border: solid 0.1vw rgb(40, 40, 40);
        }
    }
    form {
        display: flex;
        flex-direction: column;
      }
}