.live-view-container {

  .webcam{
    width: 30vw;
  }
  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
    // height: 38vw;
    height: 28vw;
  }

  .operating-tab {
    // width: 15%;
    width: 13%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    background-color: rgb(24, 24, 24);
    border-radius: 0.5vw;
    margin-right: 1vw;
    overflow: auto;

    button {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 8vw;
      padding: 0.5vw 0.7vw;
      -webkit-box-shadow:  inset -0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow:  inset -0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
      box-shadow: inset -0.05vw -0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
      &:last-child {
        margin: 0 0 0 0;
      }
      &.submit {
        margin: 0 0 1vw 0;
      }
    }
  }

  .live-container {
    // width: 85%;
    width: 87%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    border-radius: 0.5vw;
  }

  .img-size {
    padding: 1vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .img-size15{
      position: relative;
    }
    .img-size2 {
      // height: 100%;
      // width: 20vw;
      // height: 36vw;
      width: 34vw;
      overflow: hidden;
      border: solid 0.05vw rgba(179, 179, 179, 0.1);
      border-radius: 0.5vw;

      img {
        // max-width: 100%;
        // max-height: 100%;
        // width: 1640px; height: 1230px;
        width: 100%;
      }
    }

    span {
      position: absolute;
      top: 5px;
      left: 5px;
      color: rgb(179, 179, 179);
      background-color: #404040;
      outline-width: 2px;
      outline-color: white;
      padding: 2px 5px;
      border-radius: 5px;
      opacity: 0.8;
    }
  }

  .margin-bottom {
    margin-bottom: 1vw;
  }

  .btn-click{
    background-color: transparent;
    border: solid 0.05vw rgb(64, 64, 64);
    &:hover{
      border: solid 0.05vw rgb(179,179,179);

    }
  }
  .btn-click.showing {
    background-color: #6b0f1a ;
    border: solid 0.05vw rgba(64, 64, 64, 0);

    // border: solid 0.05vw rgba(179, 179, 179, 0) !important;
   
    
    &:hover{
      border: solid 0.05vw rgb(179, 179, 179);

    }
    span {
      color: rgb(179, 179, 179);

    }
  }

  .light-status {
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 0.5vw;
    margin: 0 0.5vw 0 0;
    background-color: transparent;

    border: solid 0.05vw #ebebe4b2;
    opacity: 0.5;
    -webkit-box-shadow: inset 0.05vw 0.05vw 0.1vw 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0.05vw 0.05vw 0.1vw 0px rgba(255, 255, 255, 1);
    box-shadow: inset 0.05vw 0.05vw 0.1vw 0px rgba(255, 255, 255, 1);

    &.operating {
      background-color: #00ff00;
      -webkit-box-shadow: 0px 0px 0.26vw 0px #00ff00;
      -moz-box-shadow: 0px 0px 0.26vw 0px #00ff00;
      box-shadow: 0px 0px 0.26vw 0px#00FF00;
      animation: 1s blink ease infinite;
    }
    &.active {
      background-color: #00ff00;
      -webkit-box-shadow: 0px 0px 0.26vw 0px #00ff00;
      -moz-box-shadow: 0px 0px 0.26vw 0px #00ff00;
      box-shadow: 0px 0px 0.26vw 0px#00FF00;
      // animation: 1s blink ease infinite;
    }
  }

  
  .close{
      top: 0;
      z-index: 999999;
      border-radius: 0 0.5vw 0 0;
  }
  


  @keyframes blink {
    from,
    to {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
  }
}
