.overview-container {
    #myChart {
        width: 100% !important;
    }

    .dashboard {
        display: flex;
        flex-direction: row;
        padding: 1vw;
        justify-content: center;

        // width: 90%;
        .container-left {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
            width: 80%;
            // padding: 0.5vw;
            margin-right: 1vw;

            .port-summary {
                // width: 200px;
                display: flex;
                flex-direction: column;
                // border-radius: 0.26vw;

                // background-color: rgb(24, 24, 24);
                // padding: 20px;
                // margin-bottom: 20px;

                .port-canvas {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    padding: 0.5vw 0.5vw 0.5vw 0.6vw;
                    margin-bottom: 1vw;

                    border-radius: 0.25vw;
                    background-color: rgb(24, 24, 24);
                    -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px
                        rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0.05vw 0.05vw 0.15vw 0px
                        rgba(0, 0, 0, 0.75);
                    box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);

                    .v-center-container {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .limiting-size {
                            margin: 0.5vw;
                            position: relative;
                            width: 90%;

                            // border-radius: 0.26vw;
                            // padding: 0.26vw 8px;
                            // height: 300px;
                            h2 {
                                margin-bottom: 0.5vw;
                            }
                        }
                    }
                }

                .live-view-section {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    padding: 0.5vw 0.5vw 0.5vw 0.6vw;

                    border-radius: 0.2vw;
                    background-color: rgb(24, 24, 24);
                    -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px
                        rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0.05vw 0.05vw 0.15vw 0px
                        rgba(0, 0, 0, 0.75);
                    box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);

                    .live-view-box {
                        width: 100%;
                        height: 13vw;
                        padding: 0.5vw;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            // max-width: 100%;
                            // max-height: 100%;
                            width: 14vw;
                        }
                    }

                    .lr-container {
                        .left {
                            width: 60%;
                        }

                        .right {
                            width: 40%;
                        }
                    }

                    .header-section {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }

            .below-port {
                display: flex;
                flex-direction: row;

                .operation-container {
                    width: 25%;
                    // background-color: rgb(24, 24, 24);
                    margin-right: 1vw;
                    border-radius: 0.26vw;
                    // padding: 0.26vw 0;
                }

                .util-number-container {
                    padding: 0.5vw;
                    border-radius: 0.26vw;
                    background-color: #181818;
                    box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .input-group .left {
                        justify-content: flex-end;
                        width: 40%;
                        // margin-right: 0.5vw;
                    }

                    .input-group .right {
                        margin-left: 0.5vw;
                        width: 60%;
                    }

                    .input-group {
                        padding: 0.7vw 0;
                    }
                }

                .util-container {
                    width: 75%;
                    background-color: rgb(24, 24, 24);
                    border-radius: 0.2vw;
                    padding: 0.5vw 1vw 1vw;
                    -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px
                        rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0.05vw 0.05vw 0.15vw 0px
                        rgba(0, 0, 0, 0.75);
                    box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);

                    .operating-section {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        // align-items: center;
                    }

                    .unit-visual-container {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 1vw;
                        margin-right: 1vw;
                        padding: 1vw 2vw;
                        width: 100%;
                        height: 15vw;
                        // max-height: 380px;
                        background-color: rgb(40, 40, 40);
                        border-radius: 0.5vw;

                        perspective: 1500px;
                    }

                    .operating-table {
                        width: 100%;
                        // height: 10vw;
                        // padding: 1vw;
                    }

                    .lr-container {
                        padding: 0 0 0.5vw;
                        .left {
                            align-items: center;
                            // padding-left: 0.6vw;
                        }
                    }
                }
            }
        }

        .container-right {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // padding: 0.26vw 8px;
            // background-color: rgb(24, 24, 24);

            .unit-summary {
                margin-bottom: 1vw;

                .unit-detail {
                    // border-radius: 0.26vw;
                    padding: 0.5vw 0.5vw 0.5vw 0.6vw;
                    height: 39vw;

                    // padding: 0.26vw 8px 8px;
                    // width: 100%;
                    border-radius: 0.25vw;
                    background-color: rgb(24, 24, 24);
                    -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px
                        rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0.05vw 0.05vw 0.15vw 0px
                        rgba(0, 0, 0, 0.75);
                    box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);

                    // h2 {
                    //     // margin-bottom: 0.5vw;
                    //     text-align: center;
                    // }

                    .unit-number-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        flex-wrap: wrap;
                        padding: 1vw 0.5vw;
                        // margin-bottom: 0.5vw;
                    }

                    // .util-number-container {
                    //     display: flex;
                    //     flex-direction: row;
                    //     justify-content: center;
                    //     flex-wrap: wrap;
                    //     padding: 0.5vw;
                    // }
                }
                .unit-list-size {
                    width: 100%;
                    max-height: 30.5vw;
                    overflow: auto;
                }
            }

            .ems-info {
                padding: 0.5vw;
                border-radius: 0.26vw;
                background-color: rgb(24, 24, 24);
                -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
                box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);

                h2 {
                    margin-bottom: 0.5vw;
                }
            }
        }
    }

    .content-container {
        padding: 2vw 0;

        .input-group {
            display: flex;
            flex-direction: row;
            padding: 0.26vw 0;

            .left {
                // padding-left: 10%;
                width: 45%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .right {
                width: 55%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }

    .unit-container {
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: space-around;
        width: 5.2vw;
        height: 5.2vw;
        position: relative;
        margin: 0 2.5vw;
        // top: 20px;
        // perspective: 400px;
        transform-style: preserve-3d;
        transform: rotateX(353deg);
        &:hover {
            .layer-top,
            .layer-bottom,
            .layer-left,
            .layer-right,
            .layer-back {
                background: rgba(54, 54, 54, 0.63);
            }

            .layer-top,
            .layer-left,
            .layer-right {
                border: solid 0.05vw rgba(40, 40, 40, 0.8);
            }
        }
        // cursor: pointer;
        .layer {
            width: inherit;
            height: inherit;
            position: absolute;
            // background-color: rgba(163, 124, 124, 0.568)
            // opacity: 0.5;
            //   border: solid 0.05vw rgba(40, 40, 40, 0.7);
        }

        .layer-front {
            background: rgba(64, 64, 64, 1);
            width: 5.2vw;
            height: 4.16vw;
            transform: translate3d(0, 0, 2.6vw);
            transform: translateZ(2.6vw);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;

            display: flex;
            justify-content: center;
            align-items: flex-end;

            overflow: hidden;

            .progress-bar-container {
                width: 90%;
                position: absolute;
                // bottom: -0.5vw;
                bottom: 0;

                &.inactive {
                    .MuiLinearProgress-colorPrimary {
                        background-color: transparent;
                        border: solid 0.05vw rgb(64, 64, 64);
                    }
                    .MuiLinearProgress-barColorPrimary {
                        background-color: #00cc00;
                        border: solid 0.05vw #00cc00;
                    }
                }
                // display: flex;
                // flex-direction: row;
                // justify-content: center;
                .MuiLinearProgress-root {
                    height: 0.75vw;
                    -webkit-box-shadow: 0.05vw 0.05vw 0.05vw 0.05vw
                        rgba(0, 0, 0, 0.4);
                    -moz-box-shadow: 0.05vw 0.05vw 0.05vw 0.05vw
                        rgba(0, 0, 0, 0.4);
                    box-shadow: 0.05vw 0.05vw 0.05vw 0.05vw rgba(0, 0, 0, 0.4);
                }
                .status {
                    // position: absolute;
                    z-index: 2;
                    color: rgb(255, 255, 255);
                    position: absolute;
                    bottom: -0.05vw;
                    left: 50%;
                    transform: translateX(-50%);
                    font-weight: 600;
                    text-shadow: #000 0px 0px 0.15vw;
                    -webkit-font-smoothing: antialiased;
                }
            }

            .progress {
                // font-size: 1.5vw;
                // font-weight: 600;
                // text-shadow: 0.1vw 0.05vw 0.1vw rgba(0, 0, 0, 0.7);
                line-height: 1em !important;

                color: rgb(179, 179, 179);
                font-size: 1.8vw;
                font-weight: 500;
                letter-spacing: 0.1vw;

                animation: 1s shadow-blink ease infinite;
                transform: translateZ(2.6vw);
            }
            .tooltip-container{
                
            }
            span.unit-name {
                position: absolute;
                left: 0.1vw;
                top: 0.2vw;
                color: #eeeeee;
                background-color: #292929b6;
                padding: 0 0.15vw 0.1vw;
                border-radius: 0.2vw;
                display: inline-block;
                text-align: center;
                // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
                max-width: 95%;

                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
                text-shadow: 0.05vw 0.1vw 0.25vw rgba(0, 0, 0, 1);
            }

            .percentt {
                font-size: 0.7vw;
                transform: translateZ(2.6vw);
            }
        }

        .layer-back {
            width: 5.2vw;
            height: 4.16vw;
            background: rgba(64, 64, 64, 1);
            // transform: translate3d(0, 0, 2.6vw);
            transform: translateZ(-2.6vw);
        }

        .layer-left {
            width: 5.2vw;
            height: 4.16vw;
            background: rgba(64, 64, 64, 1);
            transform: rotateY(-90deg) translateZ(2.6vw);
            border: solid 0.05vw rgba(40, 40, 40, 0.7);
        }

        .layer-right {
            width: 5.2vw;
            height: 4.16vw;
            background: rgba(64, 64, 64, 1);
            transform: rotateY(90deg) translateZ(2.6vw);
            border: solid 0.05vw rgba(40, 40, 40, 0.7);
        }

        .layer-top {
            background-color: slateblue;
            transform: rotateX(90deg) translateZ(2.6vw);
            background: rgba(64, 64, 64, 1);
            border: solid 0.05vw rgba(40, 40, 40, 0.7);
        }

        .layer-bottom {
            background-color: rgb(109, 52, 52);
            transform: rotateX(-90deg) translateZ(1.562vw);
            background: rgba(64, 64, 64, 1);
        }
    }

    .unit-profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 0.5vw;
        // background-color: rgb(90, 89, 89);
        border-radius: 0.5vw;
        border-bottom: solid 0.05vw rgba(64, 64, 64, 0.479);
        margin: 0 0.5vw;

        .unit-left:hover {
            cursor: pointer;
            // background-color: rgba(64, 64, 64, 0.329);
        }

        .unit-left {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0.2vw 0;

            .image-profile {
                width: 0.5vw;
                height: 2.5vw;
                margin: 0 0.5vw 0 0;
                // background-color: rgb(64, 64, 64);
                // border-radius: 2.6vw;

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 0.5vw;

                .overflow-name {
                    height: 0.9vw;
                    //   overflow-x: auto;
                    overflow-y: hidden;
                }
                // align-items: center;
                span:nth-child(n + 1) {
                    font-size: 0.6vw;
                    font-weight: 600;
                    margin-bottom: 0;
                    letter-spacing: 0.05vw;
                    // line-height: 1em;
                }

                span:nth-child(n + 2) {
                    font-size: 0.5vw;
                    font-weight: 400;
                    margin-bottom: 0;
                    letter-spacing: 0;
                    opacity: 0.8;
                }
            }
        }

        .alarm-container {
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        .status {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    .unit-profile:hover {
        background-color: rgb(40, 40, 40);
    }

    .unit-number-box {
        width: 4vw;
        height: 3.5vw;
        margin: 0 0.5vw 0.5vw 0;
        padding: 0.2vw 0.4vw 0.4vw;
        border-radius: 0.2vw;
        background-color: rgba(40, 40, 40, 0.678);
        -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;

        .number-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;
        }

        .sm {
            margin-bottom: 0;

            h3 {
                font-size: 0.6vw;
            }
        }
    }

    .div3-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1vw;
        // justify-content: center;

        .div3-right {
            width: 75%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            // background-color: rgb(24, green, blue);
            border: solid 0.05vw rgb(24, 24, 24);
            padding: 0.5vw;
            border-radius: 0.5vw;
        }

        .connection-box {
            width: 20vw;
        }

        .interconnection-box {
            width: 12vw;
        }

        .upper-card {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 0.5vw;
        }

        .lower-card {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .card-box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: rgb(24, 24, 24);
            height: 8vw;
            padding: 0.3vw 0.6vw;
            margin-left: 0.5vw;
            border-radius: 0.26vw;
            -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);

            .left {
                width: 50%;
                height: 100%;

                // padding: 0.5vw;
                .header {
                    height: 20%;
                }

                .main-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 80%;
                }
            }

            .right {
                width: 50%;
                height: 100%;

                .upper {
                    width: 100%;
                    height: 50%;
                    padding: 0.2vw;
                    margin-bottom: 0.2vw;
                }

                .lower {
                    width: 100%;
                    height: 50%;
                    padding: 0.2vw;
                }

                .header,
                .content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .header {
                    height: 20%;

                    span {
                        font-size: 0.65vw;
                        font-weight: 400;
                        letter-spacing: 0.05vw;
                    }
                }

                .content {
                    height: 80%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        font-size: 0.8vw;
                        font-weight: 500;
                    }

                    span {
                        font-size: 0.5vw;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .port-number-box {
        &:hover {
            cursor: pointer;
            //   border: solid 0.01vw rgb(18, 18, 18);
            -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: inset 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(64, 64, 64, 0.75);
        }

        // margin-right: 0.5vw;
        padding: 0.3vw 0.5vw 0.3vw 0.6vw;
        width: 100%;
        // height: 10vw;
        position: relative;
        border-radius: 0.26vw;
        background-color: rgb(24, 24, 24);
        -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);

        .bar-container {
            display: flex;
            flex-direction: row;
            margin: 0.2vw 0.3vw 1vw 0.8vw;
            height: 2.5vw;

            .left {
                width: 40%;
                height: 100%;
                display: flex;
                // flex-direction:  column;
                justify-content: center;
                align-items: flex-end;
            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                // align-items: center;
                width: 60%;
                height: 100%;
                margin-bottom: 0.26vw;

                .MuiLinearProgress-root {
                    height: 0.25vw;
                }
            }
        }

        .detail-row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 2.5vw;
            }

            .header {
                & span {
                    font-size: 0.65vw;
                }
            }
        }
    }

    .card-number {
        display: inline-block;
        line-height: 1em !important;

        color: rgba(179, 179, 179, 0.986);
        font-size: 1.8vw;
        font-weight: 500;
        letter-spacing: 0.1vw;
        text-shadow: 0.1vw 0.05vw 0.1vw rgba(0, 0, 0, 0.7);
    }

    .card-number-total {
        display: inline-block;
        line-height: 1em !important;
        opacity: 0.8;
    }

    .connection-type-bar {
        // background-color: red;
        // width: 50%;

        h2 {
            margin-bottom: 0.5vw;
        }

        .MuiLinearProgress-root {
            // height: 8px;
            margin: 0.7vw;
        }

        .MuiLinearProgress-colorPrimary {
            background-color: #00bfff;
        }

        .MuiLinearProgress-barColorPrimary {
            background-color: #00cc00;
        }
    }

    .connection-bar {
        // background-color: red;
        // width: 50%;

        .MuiLinearProgress-colorPrimary {
            background-color: #da1e27;
        }

        .MuiLinearProgress-barColorPrimary {
            background-color: #00cc00;
        }
    }

    .intercon-bar {
        // background-color: red;
        // width: 50%;
        margin-bottom: 0;

        .MuiLinearProgress-colorPrimary {
            background-color: #611da1;
        }

        .MuiLinearProgress-barColorPrimary {
            background-color: #00bfff;
        }
    }

    .MuiLinearProgress-root {
        border-radius: 0.5vw;
        animation: 1s shadow-blink ease infinite;
    }

    .bullet {
        width: 0.5vw;
        height: 0.5vw;
        border-radius: 0.5vw;
        margin: 0 0.5vw 0 0;
    }

    .green {
        background-color: #00cc00;
    }

    .blue {
        background-color: #00bfff;
    }

    .label-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.26vw;

        .left {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .right {
            width: 50%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        span {
            font-size: 0.6vw;
            font-weight: 400;
            color: #b3b3b3b2;
        }
    }

    table,
    td {
        cursor: default;
        border: none;
    }

    table {
        // width: 100%;

        border-collapse: collapse;
    }

    tr {
        border-bottom: solid 0.05vw rgba(64, 64, 64, 0.479);
    }

    tr:nth-child(n + 2):hover {
        background-color: rgb(64, 64, 64);
    }

    th,
    td {
        padding: 0.16vw;
    }

    th {
        background-color: rgb(40, 40, 40);
        // span{
        //     font-size: 14px;
        //     font-weight: 400;
        // }
    }

    .status-light {
        width: 0.5vw;
        height: 0.5vw;
        border-radius: 0.5vw;
        margin: 0 0.5vw 0 0;
    }

    .online {
        background-color: #00ff00;
        -webkit-box-shadow: 0px 0px 0.26vw 0px #00ff00;
        -moz-box-shadow: 0px 0px 0.26vw 0px #00ff00;
        box-shadow: 0px 0px 0.26vw 0px#00FF00;
    }

    .offline {
        background-color: transparent;
        border: solid 0.05vw #ebebe4b2;
        opacity: 0.5;
        -webkit-box-shadow: inset 0.05vw 0.05vw 0.1vw 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 0.05vw 0.05vw 0.1vw 0px rgba(255, 255, 255, 1);
        box-shadow: inset 0.05vw 0.05vw 0.1vw 0px rgba(255, 255, 255, 1);
        // -webkit-box-shadow: 0px 0px 0.26vw 0px #EBEBE4;
        // -moz-box-shadow: 0px 0px 0.26vw 0px #EBEBE4;
        // box-shadow: 0px 0px 0.26vw 0px#EBEBE4;
    }

    .alarm-tag {
        padding: 0.1vw 0.26vw;

        border-radius: 0.26vw;
        border: solid 0.05vw #ff8c00;
        // -webkit-box-shadow: 0px 0px 0.26vw 0px #FF8C00;
        // -moz-box-shadow: 0px 0px 0.26vw 0px #FF8C00;
        // box-shadow: 0px 0px 0.26vw 0px#FF8C00;

        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.8;
        cursor: pointer;

        // background-color: rgb(0, 0, 0);
        span {
            font-size: 0.6vw;
            font-weight: 500;
            letter-spacing: 0.05vw;
            color: #ff8c00;
            // text-shadow: 0px 0px 4px #FF8C00;
        }
    }

    .table-size {
        height: 6vw;
        overflow: auto;
    }

    .margin-bottom {
        // margin-bottom: 0.5vw;
        padding: 0.5vw 0;
    }

    .header-number-box {
        padding-left: 0;

        // margin-bottom: 8px ;
        h3 {
            font-weight: 400;
            // font-size: 16px;
            // padding: 0 0 0 0.15vw;
        }
    }

    hr {
        margin: 0.5vw;
        height: 0.4vw;
        // background-color: red;
        background-image: linear-gradient(
            90deg,
            transparent,
            #960c1c,
            transparent
        );

        border: 0;
        height: 0.05vw;
    }

    .disable {
        opacity: 0.3;
        cursor: default;
    }

    .progress-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .progress-bar-container {
            width: 70%;

            // display: flex;
            // flex-direction: row;
            // justify-content: center;
            .MuiLinearProgress-root {
                height: 0.7vw;
            }
        }

        span {
            width: 30%;
        }
    }

    .disconnecting-bar {
    }

    .connecting-bar {
        .MuiLinearProgress-colorPrimary {
            background-color: transparent;
            border: solid 0.05vw#00CC00;
        }

        .MuiLinearProgress-barColorPrimary {
            background-color: #00cc00;
            border: solid 0.05vw #00cc00;
        }
    }

    .hide {
        display: none !important;
    }

    // .progress{
    //     // background-color: ;
    // }
    // .progress-bar{
    //     // background-color: #e6ff05;
    // }
    .issue-container {
        width: 25%;
        // height: 12vw;
        padding: 0.5vw 0.5vw 0.5vw 0.6vw;
        margin-right: 1vw;
        border-radius: 0.25vw;
        background-color: rgb(24, 24, 24);
        -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);

        .issue-group {
            padding: 0.25vw 0.5vw 0;
        }

        .lr-container {
            margin: 0.4vw 0;
            border-radius: 0.5vw;

            .left {
                width: 80%;

                span {
                    padding-left: 1vw;
                }
            }

            .right {
                width: 20%;

                span {
                    width: 2.1vw;
                    padding: 0.15vw;
                    background-color: #6b0f1a;
                    color: rgb(179, 179, 179);
                    border-radius: 0.25vw;
                    text-align: center;

                    -webkit-box-shadow: 0.05vw 0.05vw 0.15vw 0px
                        rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0.05vw 0.05vw 0.15vw 0px
                        rgba(0, 0, 0, 0.75);
                    box-shadow: 0.05vw 0.05vw 0.15vw 0px rgba(0, 0, 0, 0.75);
                }

                span:hover {
                    background-color: rgb(179, 179, 179);
                    color: rgb(18, 18, 18);
                    cursor: pointer;
                }
            }

            span {
                font-weight: 500;
            }
        }

        .lr-container:hover {
            // background-color: rgb(40, 40, 40);
        }

        h2 {
            margin-bottom: 0.5vw;
        }
    }

    

    .no-remaining-task {
        width: 100%;
        height: 4vw;

        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .camera-offline {
        color: #b3b3b3;
        font-size: 1.5vw;
        font-weight: 600;
        opacity: 0.2;
        letter-spacing: 0.1vw;
    }
    

    @keyframes shadow-blink {
        from,
        to {
            text-shadow: 0 0 0 #1d1d1d9a;
        }

        50% {
            text-shadow: 0 0 0.5vw #ffff00;
        }
    }

    a {
        text-decoration: none;
    }
}
