.movable-item {
    border-radius: 10px;
    background-color: #fff3f3;
    height: 50px;
    width: 170px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}