.container-template {
    display: flex; 
    flex-direction: row;
    // justify-content: center; 
    .column-tab {
        
    }
    .drop-space {

    }
    
    background-color: bisque;
}



