.column {
    height: 400px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.first-column {
    background-color: #f5ffea;
}

.second-column {
    background-color: #fffbf5;
}