.account-management {
    // display: flex;
    // justify-content: center;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // position: relative;
    width: 100%;
    height: 100%;

    .system-management-layout {
        display: flex;
        flex-direction: row;
        width: 100%;
        // height: 100%;
        padding: 1vw;

        .registration {
            width: 25%;
            // height: 300px;
            background-color: rgb(24, 24, 24);
            // margin: 10px;
            width: 25%;
            padding: 1vw;
            margin-right: 1vw;
            height: fit-content;
            border-radius: 0.5vw;


            .regis-form {
                border-radius: 0.5vw;
                background-color: rgb(40, 40, 40);
                padding: 1vw;
                // margin-right: 1vw;

                display: flex;
                flex-direction: column;
                justify-content: center;

                input{
					border: solid 0.1vw rgb(40, 40, 40);
				}
            }

            // hr {
            //     margin: 0.5vw;
            //     height: 8px;
            //     // background-color: red;
            //     background-image: linear-gradient(90deg,transparent, #960c1c, transparent);

            //     border: 0;
            //     height: 1px;
            // }
            hr {
                margin-left: 1vw;
                margin-right: 1vw;
            }

            .input-group .left {
                width: 42%;
                padding-left: 2vw;
            }

            .input-group .right {
                width: 58%;
                input,
                select {
                    background-color: rgb(64, 64, 64);
                }
            }
        }

        .management-container {
            width: 75%;
            height: 100%;

            // .filter-container {
            //     height: 50%;
            //     margin: 10px;
            //     padding: 10px 15px;
            //     border-radius: 10px;

            //     background-color: rgb(24, 24, 24);

            //     // border-radius: 0.25vw;
            //     // background-color: rgb(40, 40, 40);
            //     // padding: 10px 10px;
            //     // margin: 0 0 10px 0;

            //     .input-group {
            //         display: flex;
            //         flex-direction: row;
            //         padding: 0.25vw 0;

            //         .left {
            //             width: 30%;
            //             display: flex;
            //             justify-content: center;
            //             align-items: center;
            //         }

            //         .right {
            //             width: 70%;
            //             display: flex;
            //             justify-content: flex-start;
            //             align-items: center;
            //         }
            //     }
            // }

            .editting-container {
                // margin: 10px;
                padding: 1vw;
                border-radius: 0.5vw;
                background-color: rgb(24, 24, 24);

                .table-container {
                    // background-color: rgb(40, 40, 40);
                    max-height: 35.8vw;
                    // max-height: 15.8vw;
                    overflow: auto;
                }
            }
        }

        // table,
        td {
            cursor: default;
        }

        // table {
        //     width: 100%;

        //     border-collapse: collapse;

        // }

        // tr:nth-child(n+2):hover {
        //     background-color: rgb(64, 64, 64);

        // }

        // th,
        // td {
        //     padding: 3px;

        // }

        // th {
        //     position: sticky;
        //     top: 0;
        //     background-color: rgb(40, 40, 40);
        //     // span{
        //     //     font-size: 14px;
        //     //     font-weight: 400;
        //     // }
        // }

        // td{
        //     span{
        //         font-size: 14px;
        //         font-weight: 300;
        //     }

        // }
        .text-center {
            text-align: center;
        }
    }

    .registration-form {
        padding: 20px;

        border-radius: 10px;
        width: 30rem;
        background-color: rgb(40, 40, 40);

        header {
            // text-align: center;
            margin: 0 0 20px 20px;
        }

        .submit-box {
            display: flex;
            justify-content: flex-end;

            button {
                border-radius: 0.25vw;
                padding: 3px 10px;
            }
        }
    }

    .submit-regis {
        margin: 20px 0 0 0;
    }

    .edit-system-body {
        width: 400px;
        height: 220px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;

        border: 1px solid rgb(204, 204, 204);
        background: #ffffff;
        overflow: auto;
        border-radius: 4px;
        outline: none;
        padding: 0 30px;
    }

    .disabled {
        opacity: 0.2;
    }

    form {
        display: flex;
        flex-direction: column;
      }

      th{
        height: 2vw;
    }
}
