.is-container {
    border-radius: 10%;
    img {
        border-radius: 10%;
        height: 100%;
        border: solid 2px black;
        box-shadow: 0px 0px 2px 1px rgba(56, 55, 55, 0.473);
    }

    img:hover {
        border-radius: 10%;
        border: 1px solid rgb(124, 157, 207);
        box-shadow: 0px 0px 10px 3px rgb(124, 157, 207);
    }

}

.can-drop {
    border-radius: 10%;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
}

// .can-drop:hover {
//     border: 1px solid rgb(124, 157, 207);
//     box-shadow: 0px 0px 10px 3px rgb(124, 157, 207);
// }