// html {
//     scroll-behavior: smooth;
// }

// .map-platform-box {
//     display: flex;
//     flex-direction: row;
//     overflow: auto;
//     height: 75vh;
//     background-color: rgba(0, 0, 0, 0.247);

//     .left-box {
//         width: 15%;
//         background-color: rgba(0, 0, 0, 0.247);
//         margin: 10px;
//         padding: 10px;

//         .container-box {
//             margin: 0 0 10px 0;

//             height: initial;

//             // background-color: rgba(0, 0, 0, 0.199);
//             .template-list {
//                 // padding:  10px;
//                 max-height: 150px;
//                 overflow: auto;
//                 background-color: rgba(0, 0, 0, 0.199);

//                 p {
//                     font-size: 20px;
//                     padding-left: 10px;
//                 }

//                 p:hover {
//                     background-color: rgba(0, 0, 0, 0.199);
//                     // border-radius: 10px;
//                 }

//                 .selected {
//                     background-color: rgba(0, 0, 0, 0.199);
//                     border-radius: 10px;
//                 }
//             }
//         }

//         .system-box {
//             // margin: 10px;
//             // padding: 10px;
//             margin: 0 0 10px 0;

//             // background-color: rgba(0, 0, 0, 0.199);
//             .system-list {
//                 // padding:  10px;
//                 background-color: rgba(0, 0, 0, 0.199);
//                 max-height: 150px;
//                 flex-wrap: wrap;
//                 overflow: auto;
//                 display: flex;
//                 flex-direction: row;

//                 .dragbox-container {
//                     // margin: 2px;
//                     width: 5rem;
//                     // height: 5rem;
//                 }
//             }
//         }

//         .selected-box {
//             .selected-info {
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 padding: 10px;
//                 background-color: rgba(0, 0, 0, 0.199);

//                 .image-box {
//                     height: 100px;
//                     width: 100px;
//                     padding: 10px;
//                     margin: 0 0 10px 0;
//                     background-color: rgba(0, 0, 0, 0.199);
//                 }

//                 .selected-content {

//                     font-size: 15px;
//                     padding-left: 10px;

//                 }
//             }
//         }

//     }

//     .right-box {
//         width: 85%;

//         background-color: rgba(0, 0, 0, 0.247);
//         margin: 10px;
//         padding: 10px;
//         overflow: visible;

//         .container-history {
//             display: flex;
//             flex-direction: row;

//             span:nth-child(n+2)::before {
//                 content: ">";
//             }

//             .hide {
//                 display: none;
//             }

//             .show-back-btn {
//                 display: block;
//             }

//         }

//         header {

//             padding-left: 10px;
//         }

//         .template-box {

//             // width: initial;
//             width: fit-content;
//             max-width: initial;

//             // height: 70vh;
//             max-height: 600px;


//             background-color: rgba(0, 0, 0, 0.247);
//             // padding: 10px;

//             overflow: auto;


//             position: relative;
//             display: block;
//             background-color: rgba(0, 0, 0, 0.247);
//             // background-position: center;
//             // background-size: contain;
//             background-repeat: no-repeat;


//             .background-map {}


//         }

//         .transplarent {
//             background-color: rgba(0, 0, 0, 0);

//         }
//     }
// }

// .input-btn {
//     display: none;
// }

// .upload-map-btn {
//     font-size: large;
//     font-weight: 500;
// }

// h1 {
//     font-size: larger;
//     font-weight: 700;
// }



// .dropbox {

//     border-radius: 10%;
//     // border: solid;
//     font-size: medium;
//     font-weight: 200;
//     text-align: center;
//     // overflow: auto;
//     position: absolute;
//     background-color: transparent;
//     background-size: 100% auto;
//     background-repeat: no-repeat;
//     background-position: center;

//     display: flex;
//     flex-direction: column;
//     justify-content: center;

// }

// .fill-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;

//     .dragbox {
//         height: fit-content;
//         border-radius: 10%;
//         border: 1px solid;
//         margin: 2px;
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         position: relative;

//         .dragbox-content {

//             position: absolute;
//             font-weight: 500;
//             font-size: 15px;
//             background-color: white;
//             // text-shadow: 1px blanchedalmond;
//         }

//         img {
//             max-width: 100%;
//             max-height: 100%;
//             // height: 5rem;
//             border-radius: 10%;
//         }
//     }
// }






// .context-menu {}

// // .modal-body {

// //     width: 1200px;
// //     height: 600px;
// //     top: 50%;
// //     left: 50%;
// //     transform: translate(-50%, -50%);
// //     position: relative;

// //     // border: 1px solid rgba(204, 204, 204, 0.822);
// //     background: #ebebeb;
// //     //  rgba(255, 255, 255, 0.95);
// //     overflow: auto;
// //     border-radius: 4px;
// //     outline: none;
// //     padding: 20px;

// // }



// .ReactModal__Overlay {
//     opacity: 0;
//     // transition: opacity 200ms ease-in-out;
// }

// .ReactModal__Overlay--after-open {
//     opacity: 1;
// }

// .ReactModal__Overlay--before-close {
//     opacity: 0;
// }