.footer {
    width: 100vw;
    height: 2vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(24, 24, 24);
    // text-align: right;
    border-top: 0.05vw solid rgba(64, 64, 64, 0.233);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .center{

    }
    .right-section{
        position: absolute;
        right: 1vw;
        cursor: pointer;
    }
    .left-section{
        position: absolute;
        left: 1vw;
        opacity: 0.5;
        cursor: pointer;
    }
}