.edit-system-info {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    .content{
        display: flex;
        justify-content: center;
        .regis-form {
        
            margin-bottom: 1vw;

            width: 100%;
            padding: 1vw;
            border-radius: 0.5vw;
            background-color: #181818;

            input{
                border: solid 0.1vw rgb(40, 40, 40);
            }

            
        }
    }
    // hr {
    //     margin: 0.5vw;
    //     height: 0.4vw;
    //     // background-color: red;
    //     background-image: linear-gradient(90deg,transparent, #960c1c, transparent);

    //     border: 0;
    //     height: 0.05vw;
    // }

    .input-group .left {
        width: 40%;
        padding-left: 2vw;
        // justify-content: flex-end;
        // padding-right: 1vw;
    }

    .input-group .right {
        width: 60%;
    }

    form {
        display: flex;
        flex-direction: column;
      }
    // input{
    //     padding-left: 0.5vw ;
    // }
}