.panel-container {
    overflow: auto;
    position: absolute;
    width: 90vw;
    // height: 400px;
    background-color: rgb(255, 255, 255);
    top: 500px;
    animation: moveUp 1s;

    .front-panel {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .port {
            width: 2rem;
            height: 2.5rem;
            margin: 0.1vw;
            background-color: rgb(190, 172, 172);
            border: solid 0.1vw rgb(167, 69, 69);
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            p {
            }
        }

        // .port:hover {
        //   background-color: rgb(122, 110, 110);
        // }
    }

    .submit-box {
        display: flex;
        justify-content: flex-end;
    }
}

.front-panel-container {
    header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .content-container {
        padding: 1vw;
        display: flex;
        flex-direction: column;

        .left-content {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-right: 1vw;

            .filter-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                border-radius: 0.5vw;
                background-color: rgb(24, 24, 24);
                padding: 0.5vw 0.5vw;
                margin-bottom: 0.5vw;
            }
        }

        .right-content {
            width: 100%;
            height: 13.2vw;
            background-color: rgb(24, 24, 24);
            border-radius: 0.5vw;
            padding: 1vw;
            .lr-container {
                width: 100%;
                margin: 0;
                padding: 0;
                .right a {
                    text-decoration: none;
                    &:hover {
                        color: #00b400;
                    }
                }
            }
        }
    }

    .table-size {
        // width: 95%;
        max-height: 9vw;
        overflow: auto;

        .progress-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .progress-bar-container {
                width: 70%;

                // display: flex;
                // flex-direction: row;
                // justify-content: center;
            }

            span {
                width: 30%;
            }
            .MuiLinearProgress-root {
                height: 0.75vw;
                border-radius: 0.5vw;
                animation: 1s shadow-blink ease infinite;
                -webkit-box-shadow: 0.05vw 0.05vw 0.05vw 0.05vw
                    rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 0.05vw 0.05vw 0.05vw 0.05vw rgba(0, 0, 0, 0.4);
                box-shadow: 0.05vw 0.05vw 0.05vw 0.05vw rgba(0, 0, 0, 0.4);
            }

            .connecting-bar {
                .MuiLinearProgress-colorPrimary {
                    background-color: transparent;
                    border: solid 0.05vw#00CC00;
                }

                .MuiLinearProgress-barColorPrimary {
                    background-color: #00cc00;
                    border: solid 0.05vw #00cc00;
                }
            }
        }
    }

    select {
        background-color: rgb(40, 40, 40);
        border: none;
        color: rgb(179, 179, 179);
    }

    .selected-page {
        background-color: rgb(64, 64, 64);
        font-weight: 600;
    }

    .lr-container {
        // padding: 0.2vw 0;
        margin-bottom: 1vw;
        align-items: center;

        .right {
            .search-input {
                padding: 0.35vw 1vw;
                border-radius: 1vw 0 0 1vw;
                width: 10vw;
            }

            .search-btn {
                margin: 0;
                // padding: 0.3vw 0.5vw;
                border-radius: 0 1vw 1vw 0;
                color: rgb(179, 179, 179);
                padding: 0;
                width: 2vw;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .checkmark {
                width: fit-content;
                margin-right: 0.2vw;
            }
        }

        h2 {
            // width: 10%;
            margin-right: 1vw;
        }

        span {
            // margin-right: 0.5vw;
        }

        // input{
        //     width: 90%;
        // }
        button {
            // background-color: rgb(40, 40, 40);
            margin: 0 0.5vw 0 0.5vw;

            span {
                // color: rgb(64, 64, 64);
                // margin-right: 0.2vw;
            }

            input {
                width: 2vw;
            }

            // &:hover {
            //   background-color: rgb(64, 64, 64);

            //   span {
            //     color: #FFFFFF;
            //   }

            // }
            &.active {
                background-color: rgb(179, 179, 179);
                color: rgb(64, 64, 64);
            }
        }
    }

    display: flex;
    flex-direction: column;

    .section-container {
        width: 50%;
        background-color: rgb(24, 24, 24);
        border-radius: 0.5vw;
        padding: 1vw;
        margin-right: 1vw;

        .lr-container {
            justify-content: flex-end;
            align-items: flex-end;
            .left {
                width: 35%;
                height: 100%;
                flex-direction: column;
                align-items: flex-start;
                h2 {
                    margin-bottom: 1vw;
                }
            }

            .right {
                width: 65%;
                height: 100%;
                // flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                .sm-btn.submit {
                    padding: 0.25vw 0.25vw 0.25vw 0.5vw;
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
    .pagination-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    // .source {
    //   margin-bottom: 1.8vw;
    // }

    .connectivity-btn {
        -webkit-box-shadow: inset -0.05vw -0.05vw 0.2vw 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset -0.05vw -0.05vw 0.2vw 0px rgba(0, 0, 0, 0.75);
        box-shadow: inset -0.05vw -0.05vw 0.2vw 0px rgba(0, 0, 0, 0.75);
        
    }

    .connect-btn {
        background-color: #3b9747;
        // background-color: #47a654;
        span {
            font-weight: 700;
            color: #fff;
        }
    }

    .connect-btn:hover, .cancel-btn:hover, .switch-pol-btn:hover {
        background-color: #b3b3b3;
        span {
            color: #101010;
        }
    }

    // .connect-btn .opacity5  {
    //     background-color: #617064;
    //     span {
    //         color: #101010;
    //     }
    // }

    .cancel-btn {
        background-color: #eeeeee;
        span {
            font-weight: 700;
            color: #ba1230;
        }
    }

    .switch-pol-btn {
        background-color: #813ca6;
        span {
            font-weight: 700;
            color: #d0d0d0;
            // color: #b3b3b3;
        }
    }

    .opacity5{
        opacity: 0.5;
    }
    opacity10{
        opacity: 1;
    }
    .box {
        display: flex;
        flex-direction: column;
        padding: 0.5vw;
        // margin: 0 10vw;
        border-radius: 0.5vw;

        background-color: rgb(40, 40, 40);

        // flex-wrap: wrap;
        // justify-content: center;
        .row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        .__react_component_tooltip {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-items: center;
        }

        // .port .connector {
        //     height: 100%;
        //     width: 100%;

        //     .upper {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;
        //         align-items: center;

        //         height: 80%;
        //         border-radius: 5px;
        //         background-color: rgb(40, 40, 40);
        //         // -webkit-box-shadow: 0px 0.05vw 5px 0px rgba(0, 0, 0, 0.75);
        //         // -moz-box-shadow: 0px 0.05vw 5px 0px rgba(0, 0, 0, 0.75);
        //         // box-shadow: 0px 0.05vw 5px 0px rgba(0, 0, 0, 0.75);
        //     }

        //     .lower {
        //         height: 20%;
        //     }
        // }

        // .port .adapter {
        //     height: 100%;
        //     width: 100%;

        //     .upper {

        //         height: 20%;
        //     }

        //     .lower {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;
        //         align-items: center;

        //         height: 80%;
        //         border-radius: 5px;
        //         background-color: rgb(40, 40, 40);
        //         // -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
        //         // -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
        //         // box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
        //     }
        // }
    }

    .online {
        background-color: #00ff00;
        -webkit-box-shadow: 0px 0px 5px 0px #00ff00;
        -moz-box-shadow: 0px 0px 5px 0px #00ff00;
        box-shadow: 0px 0px 5px 0px#00FF00;
    }

    .offline {
        background-color: #ebebe4b2;
        -webkit-box-shadow: inset 0.05vw 0.05vw 0.1vw 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 0.05vw 0.05vw 0.1vw 0px rgba(255, 255, 255, 1);
        box-shadow: inset 0.05vw 0.05vw 0.1vw 0px rgba(255, 255, 255, 1);
        // -webkit-box-shadow: 0px 0px 5px 0px #EBEBE4;
        // -moz-box-shadow: 0px 0px 5px 0px #EBEBE4;
        // box-shadow: 0px 0px 5px 0px#EBEBE4;
    }

    .light-status {
        width: 0.6vw;
        height: 0.15vw;
        background-color: #242424;
        box-shadow: 0 0 0.1vw 0.05vw #242424;
        border-radius: 0.2vw;
        margin-top: 0.2vw;
        opacity: 0.8;
    }

    .connected {
        .light-status {
            background-color: #ff0000 !important;
            // box-shadow: 0 0 0.1vw 0.05vw #ff0000 !important;
        }
    }

    .available {
        .light-status {
            background-color: #00cc00 !important;
            box-shadow: 0 0 0.1vw 0 #ffbb00 !important;
        }
    }

    .disabled {
        opacity: 0.1;

        .light-status {
            background-color: rgb(122, 110, 110) !important;
            box-shadow: 0 0 0.1vw 0.05vw rgb(122, 110, 110) !important;
        }
    }

    .connecting {
        animation: 1s connect-blink ease infinite;

        .light-status {
            background-color: #00cc00 !important;
            // box-shadow: 0 0 0.1vw 0.05vw #ffbb00 !important;
            animation: 1s blink ease infinite;
            -webkit-animation: 1s blink ease infinite;
            -moz-animation: 1s blink ease infinite;
            -ms-animation: 1s blink ease infinite;
            -o-animation: 1s blink ease infinite;
        }
    }

    .disconnecting {
        animation: 1s disconnect-blink ease infinite;

        .light-status {
            background-color: #ff0000 !important;
            // box-shadow: 0 0 0.1vw 0.05vw #ffbb00 !important;
            animation: 1s blink ease infinite;
            -webkit-animation: 1s blink ease infinite;
            -moz-animation: 1s blink ease infinite;
            -ms-animation: 1s blink ease infinite;
            -o-animation: 1s blink ease infinite;
        }
    }

    .recovering {
        animation: 1s recover-blink ease infinite;

        .light-status {
            background-color: #4d4dff !important;
            // box-shadow: 0 0 0.1vw 0.05vw #ffbb00 !important;
            animation: 1s blink ease infinite;
            -webkit-animation: 1s blink ease infinite;
            -moz-animation: 1s blink ease infinite;
            -ms-animation: 1s blink ease infinite;
            -o-animation: 1s blink ease infinite;
        }
    }

    .locking {
        animation: 1s lock-blink ease infinite;

        .light-status {
            background-color: #c4c4c4 !important;
            // box-shadow: 0 0 0.1vw 0.05vw #ffbb00 !important;
            animation: 1s blink ease infinite;
            -webkit-animation: 1s blink ease infinite;
            -moz-animation: 1s blink ease infinite;
            -ms-animation: 1s blink ease infinite;
            -o-animation: 1s blink ease infinite;
        }
    }

    @keyframes blink {
        from,
        to {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    @keyframes disconnect-blink {
        from,
        to {
            border: solid 0.1vw #ff000000;
        }

        50% {
            border: solid 0.1vw #ff0000;
        }
    }

    @keyframes connect-blink {
        from,
        to {
            border: solid 0.1vw #00cc0000;
        }

        50% {
            border: solid 0.1vw #00b400;
        }
    }

    @keyframes recover-blink {
        from,
        to {
            border: solid 0.1vw #4d4dff00;
        }

        50% {
            border: solid 0.1vw #4d4dff;
        }
    }

    @keyframes lock-blink {
        from,
        to {
            border: solid 0.1vw #c4c4c400;
        }

        50% {
            border: solid 0.1vw #c4c4c4;
        }
    }

    .group {
        margin: 5px;
        background-color: rgb(40, 40, 40);
    }

    // .unclickable{
    //   content: "T";
    // }
    .selected {
        // background-color: rgb(179, 179, 179) !important;
        border: solid 0.15vw #6b0f1a !important;
        // border: solid 0.1vw rgb(64, 64, 64);
        span {
            color: rgb(179, 179, 179);
            font-weight: 700;
        }
    }
    .not-selected {
        // background-color: rgb(179, 179, 179) !important;
        // border: solid 0.15vw #6B0F1A !important;
        // border: solid 0.1vw rgb(64, 64, 64);

        span,
        .light-status {
            // color: rgb(179,179,179);
            // font-weight: 700;
            opacity: 0.2;
        }
    }

    .selected:hover {
        background-color: rgb(204, 204, 204) !important;

        span {
            font-size: 0.75vw;
            font-weight: 600;
            color: rgb(56, 9, 9);
        }
    }

    .port {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // margin: 5px;

        width: 5%; // From 100% of row, 5% of 20 ports fills gap completely
        height: 2.8vw;

        // border-radius: 5px;

        background-color: rgb(18, 18, 18);
        border: solid 0.15vw #121212;
        cursor: pointer;

        span {
            font-size: 0.75vw;
            margin-bottom: 0.2vw;
        }

        &:hover {
            // background-color: rgb(27, 3, 3);
            border: solid 0.15vw rgb(64, 64, 64);
            // border-radius: 0.5vw;
        }
    }

    .pair-is-hovered {
        border: solid 0.1vw rgb(64, 64, 64);
    }

    .same-type {
        cursor: not-allowed;
        opacity: 0.4;
    }

    .close {
        font-size: 1vw;
    }

    // .toggle-switch {
    //     border-radius: 0.25vw !important;
    //     cursor: pointer;
    //     transition: background 0.25s ease 0s;
    //     //   width: 2vw;
    //     //   height: 1vw;
    //     .react-switch-bg {
    //         height: 1vw !important;
    //         width: 1.66vw !important;

    //         border-radius: 0.5vw !important;
    //     }

    //     .react-switch-handle {
    //         height: 0.85vw !important;
    //         width: 0.85vw !important;
    //         top: 0.05vw !important;
    //     }
    //     &.checked .react-switch-handle {
    //         transform: translateX(0.7vw) !important;
    //     }
    //     &.uncheck .react-switch-handle {
    //         transform: translateX(0.1vw) !important;
    //     }
    // }
    .no-remaining-task {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .camera-offline {
        color: #b3b3b3;
        font-size: 1.5vw;
        font-weight: 600;
        opacity: 0.2;
        letter-spacing: 0.1vw;
    }

    .result-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .result.unit {
        margin-left: 0.2vw;
        margin-right: 0.2vw;
    }
    span.result {
        background-color: rgba(24, 24, 24, 0.5);
        padding: 0.15vw 0.5vw;
        border-radius: 0.5vw;

        
    }
    select {
        width: 4vw;
    }
    .btn-row {
        justify-content: center;
        padding: 1vw;
    }

    th{
        height: 2vw;
    }

    .fit-btn{
        padding: 0.25vw 0.8vw;
    }
}
// @media only screen and (max-width: 600px) {
//   body {
//     background-color: lightblue;
//   }
// }
