.manual-interconnection {
    // width: 100%;
    box-sizing: border-box;
    padding: 0 0.5vw 0 0.5vw;

    .search-section {
        display: flex;
        flex-direction: row;
        // height: 100%;
        // height: 27.5vw;
        // margin: 0 0 0.5vw 0;

        .add-btn-box {
            width: 10%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            button {
                height: 2rem;
                width: 4rem;
            }
        }
    }

    .checked-port-list {
        position: relative;
        padding: 0 20px;
        display: flex;
        flex-direction: row;

        .checked-port-label {
            width: 20%;
            margin: 0.5vw 0 0 0;

            // span {
            //     // position: absolute;
            //     font-weight: 500;
            // }
        }

        .pair-box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 80%;
        }
    }

    .save-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .submit-connection {
            width: 9rem;
            height: 2rem;
        }
    }

    .origin-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        // padding: 0.5vw;
        // background-color: rgb(24, 24, 24);
        // border: solid 3px rgba(0, 0, 0, 0.089);
        // border-radius: 0.5vw;

        header {
            display: flex;
            justify-content: center;
        }
    }

    .target-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        // padding: 0.5vw;
        // background-color: rgb(24, 24, 24);
        // border: solid 3px rgba(0, 0, 0, 0.089);
        // border-radius: 0.5vw;

        header {
            display: flex;
            justify-content: center;
        }
    }

    .space-bottom {
        // margin-right: 0.5vw;
    }

    // .selection-result{
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     width: 20%;
    //     padding: 5px;
    //     // width: 5rem;
    //     // margin: 5px;
    //     .pair{
    //         // width: fit-content;
    //         padding: 2px 0.5vw;
    //         border-radius: 5px;
    //         background-color: blanchedalmond;
    //         margin: 0.5vw;
    //         display: flex;
    //         flex-direction: row;
    //         // justify-content: space-evenly;

    //     }
    // }

    .select-box {
        display: flex;
        flex-direction: column;
        margin: 0 0 0.5vw 0;
        // justify-content: space-evenly;
    }

    .select-header {
        width: 100%;
        margin: 0 0.5vw 0 0;
        padding: 0 0 0 0.5vw;

        // h3 {
        //     font-size: 15px;
        //     font-weight: 700;
        //     color: #580E39;
        //     // width: 93%;
        //     // padding: 2px 5px;
        //     // background-color: #808F85;
        // }

        // hr {
        //     width: 88%;
        //     margin: 5px 0 0 0;
        //     padding: 0;
        // }
    }

    // hr {
    //     // margin: 5px 0 0.5vw 0;
    //     display: block;
    //     height: 1px;
    //     border: 0;
    //     border-top: 1px solid #ccc;
    //     margin: 0.5em 0;
    //     padding: 0;
    // }

    hr {
        // width: 92%;

        // padding: 0;
        // // border-style: inset;
        // // border-width: 0.1vw;
        // border: solid 0.1vw rgba(179, 179, 179, 0.575);
        margin: 0.2vw 0;
        border: 0;
        height: 0;
        border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
        border-bottom: 0.05vw solid rgba(255, 255, 255, 0.3);
    }

    .vertical-line {
        border-right: 1px solid #ccc;
        height: 100%;
    }

    input[type=text]{
        font-size: 0.7vw;
        margin: 0.1vw 0;
    }
    .selected-port {
        // width: fit-content;
        // height: 1.5rem;
        // padding: 0 0.5vw;
        // margin: 0 0 0 5px;

        min-width: 7vw;
        padding: 0.25vw 0.4vw 0.25vw 0.8vw;
        border-radius: 1.25vw;
        outline: none;
        border: none;
        cursor: pointer;
        // font-size: 14px;
        // font-weight: 400;

        // border-radius: 0.8rem;
        // background-color: rgb(93, 163, 24);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .close{
            font-size: 0.8vw;
            color: rgb(24, 24, 24);
            // color: rgb(179, 179, 179);
            &:hover{
                color: rgb(40, 40, 40);
            }
        }

        span:first-child{
            margin-right: 0.4vw;
            max-width: 7vw;
            overflow-y: auto;
            white-space:nowrap;
            

        }
        ::-webkit-scrollbar {
            // width: 0.2vw;
            height: 0.2vw !important;
          }
        button {
            position: relative;
            left: 0.25vw;

            width: 0.6vw;
            height: 0.8vw;
            border-radius: 0.5vw;
            border: none;
            outline: none;
        }
    }

    .selected {
        background-color: rgb(16, 16, 16);

        span {
            // color: #6B0F1A;
            font-weight: 700;
        }
    }

    .search-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        padding: 0 0 0 0.75vw;
        height: 2.2vw;
        // width: 200px;
        color: white;
        background-color: rgb(61, 60, 60);
        margin: 0 0 0.25vw 0;

        // span {
        //     font-weight: 500;
        //     font-size: 15px;
        //     margin: 0 15px 0 0;
        // }

        input {
            width: 6.25vw;
            height: 1.25vw;
            padding: 0 0 0 0.25vw;
            // margin: 0 0 5px 0;

            border: none;
            border-radius: 0.5vw;

            outline: none;
        }
    }

    .search-header:hover {
        background-color: rgb(41, 40, 40);
    }

    .fix-length-table {
        height: 15.9vw;
        overflow-y: auto;
    }

    // .port-select-table {
    //     width: 100%;
    //     border: none;
    //     text-align: center;

    //     tr {
    //         background-color: rgba(131, 127, 127, 0.63);
    //     }

    //     tr:last-child td:first-child {
    //         border-bottom-left-radius: 0.5vw;
    //     }

    //     tr:last-child td:last-child {
    //         border-bottom-right-radius: 0.5vw;
    //     }

    //     tr:hover {
    //         cursor: pointer;
    //         background-color: rgba(44, 44, 44, 0.658);

    //         td {
    //             font-weight: 500;
    //         }
    //     }

    //     th {
    //         position: sticky;
    //         top: 0;
    //         padding: 2px;
    //         color: rgb(216, 216, 216);
    //         background-color: rgb(88, 87, 87);
    //         border-spacing: 0;
    //         font-size: 12px;
    //         font-weight: 400;
    //     }
    // }
    tr.unavailable {
        background-color: rgb(64, 64, 64);
        opacity: 0.2;
        cursor: default;

        td {
            cursor: default;
        }
    }

    .search-box {
        // width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .add {
        height: 2rem;
        width: 5rem;
    }

    .system-box {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // padding: 0 0 0 20px;
        width: 100%;
        // height: 25vw;
        height: 100%;

        .input-group.radio-section {
            .left {
                padding-left: 1vw;
            }
        }
        .radio-section {
            padding: 0.5vw 0;
            background-color: rgb(24, 24, 24);
            margin-bottom: 0.3vw;

            .input-group .left {
                width: 50%;
            }
            .input-group .right {
                width: 50%;
            }
        }
        .top-box {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: rgb(24, 24, 24);
            margin-bottom: 0.3vw;
            padding: 0.5vw;
            .image-box {
                width: 100%;
                height: 5vw;
                padding: 0.5vw;
                display: flex;
                .system-image {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.5vw;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .system-detail {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    input {
                        width: 7vw;
                    }
                    .input-group {
                        padding: 0.1vw;
                        .left {
                            padding-left: 0.5vw;
                            width: 25%;
                        }
                        .right {
                            width: 75%;
                        }
                    }
                    .port-row {
                        .left {
                            width: 30%;
                            padding-left: 0;
                        }

                        .right {
                            width: 70%;
                        }
                    }
                }
            }
        }
        .system-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // padding: 30px 0.5vw 0.5vw 0.5vw;

            // align-items: center;
            .open-select-btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;

                input {
                    width: 7vw;
                    height: 2vw;
                    padding: 0 0 0 0.5vw;
                    margin: 0 0 0 0.5vw;
                    background-color: #595959;
                    border: none;
                    border-radius: 0.5vw;
                    color: #dce0d9;
                    outline: none;
                }

                input::placeholder {
                    color: #dce0d999;
                }
            }
        }
    }

    .table-box {
        // margin: 0.5vw 0 0 0;
        // padding: 0.5vw;
        background-color: rgb(24, 24, 24);
        // border-radius: 0.5vw;
    }

    .radio1 {
        border-radius: 0.5vw 0 0 0.5vw;
    }
    .radio2 {
        border-radius: 0 0.5vw 0.5vw 0;
    }
    label {
        display: flex;
    }
    .cannot-click {
        cursor: default;
        opacity: 0.5;
        &:hover {
            background-color: #6b0f1a;
            
            span {
                color: rgb(179, 179, 179);
            }
        }
    }
    
}
