.manual-container{

}

@keyframes moveUp {
    from {
        top: 100vh;
    }

    to {
        top: 500px;
        ;
    }
}

.front-panel-body{
    display: flex;
    justify-content: center;
    // width: 400px;
    // height: 200px;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // position: relative;
  
    // border: 1px solid rgb(204, 204, 204);
    // background: rgba(255, 255, 255, 0.856);
    // overflow: auto;
    // border-radius: 4px;
    // outline: none;
    // padding: 20px;
  }
  .front-panel-overlay{
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // background-color: rgba(0, 0, 0, 0.493);
  }