.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #ffffff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #ffffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    .container-bg {

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(24, 24, 24, 0.208);
        -webkit-box-shadow: 0.1vw 0.1vw 0.15vw 0.05vw rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0.1vw 0.1vw 0.15vw 0.05vw rgba(0, 0, 0, 0.75);
        box-shadow: 0.1vw 0.1vw 0.15vw 0.05vw rgba(0, 0, 0, 0.75);
        // background-image: linear-gradient(to left top, #11284a, #0d213d, #0b1b30, #081424, #010a18);
        // background-image: linear-gradient(to left top, #11284a, #0d213d, #0b1b30, #081424, #010a18);
        padding: 0.8vw 1.2vw;
        border-radius: 0.5vw;

        width: 18vw;
        height: 23vw;

        .form {
            margin-top: 2vw;
            display: flex;
            flex-direction: column;
            align-items: center;

            .form-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: fit-content;

            }
        }

        .login-btn button {
            margin-top: 1.5vw;
            font-size: 1vw;
            padding: 0.2vw 1vw;
            border: 0;
            background-color: #fff;
            border-radius: 0.2vw;
            transition: all 250ms ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: blueviolet;
            }

            &:focus {
                outline: none;
            }
        }

    }

    .logo {
        width: 90%;
        height: 5vw;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .distinct {
        color: #282828;
        font-size: 0.7vw;
        font-weight: 400;
        line-height: 0.7vw;
        /* letter-spacing: 0.05vw; */
        text-shadow: 0.05vw 0.05vw 0.05vw rgba(0, 0, 0, 0.21);
        // margin-right: 0.3vw;
        
    }

    hr {
        margin: 0.5vw;
        height: 0.4vw;
        // background-color: red;
        background-image: linear-gradient(
            90deg,
            transparent,
            #960c1c,
            transparent
        );

        border: 0;
        height: 0.05vw;
    }
    .private-btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        margin-top: 0.5vw;
        
    }

    input {
        border-radius: 1vw;
        padding: 0.5vw 1vw;
        // width: 200px;

        font-size: 0.75vw;
        color: rgb(179, 179, 179);
        background-color: rgb(40, 40, 40);
    }

    ::placeholder {
        color: rgba(179, 179, 179, 0.701);
        font-size: 0.75vw;
        font-weight: 400;
    }

    .forward-btn{
        position: absolute;
        bottom: 0.5vw;
        right: 0.5vw;
        i{
            color: #282828;
            font-size: 1vw;
            cursor: pointer;
            &:hover{
                color: #6b0f1a;

            }
        }
        
    }

    select {
        width: 10vw;
        outline: none;
        padding: 0.5vw 0.8vw;
        // padding: 0.4vw 0.5vw;
        border-radius: 1vw;
    }

    option {
        width: 15vw;
        font-size: 0.75vw;
        color: rgb(179, 179, 179);
        padding: 0.4vw 0.5vw;
        // outline: none;
        // padding: 0.4vw 0.5vw;
        // border-radius: 1vw;
    }
    .select-items div,.select-selected {
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
      }

    .long {
        margin-top: 2vw;
        width: 12.5vw;
        font-size: 0.75vw;
    }

    .btn.login {
        // padding-left: 4vw;
        // padding-right: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vw;
        margin: 0.25vw 0 0.25vw;
    }

}