.map-management-box {
	display: flex;
	flex-direction: row;
	// background-color: rgba(0, 0, 0, 0.199);
	max-height: 85vh;
	padding: 1vw;

	#cy {
		width: 100%;
		height: 92%;
		// height: 500px;
		display: block;
		z-index: 0;
		background: rgb(64, 64, 64);
		border-radius: 0.5vw;

		//   position: absolute;
	}

	h1 {
		font-size: larger;
		font-weight: 700;
	}

	.no-source-target {
		background-color: #282828;
		padding: 0.5vw;
		border-radius: 0.5vw;
		text-align: center;
		width: 12vw;
	}

	hr {
		// width: 92%;

		// padding: 0;
		// // border-style: inset;
		// // border-width: 0.1vw;
		// border: solid 0.1vw rgba(179, 179, 179, 0.575);
		margin: 0.2vw 0;
		border: 0;
		height: 0;
		border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
		border-bottom: 0.05vw solid rgba(255, 255, 255, 0.3);
	}

	.header-section {
		margin: 0 0 0.5vw 0;
	}

	.tips-section {
		margin: 0.5vw 0 0 0;
		.lr-container {
			display: flex;
			flex-direction: row;
			.tips-msg {
				font-size: 0.6vw;
				opacity: 0.7;
			}
		}
	}

	.save-position {
	}

	.left-box {
		width: 17%;
		padding: 0.5vw;
		margin: 0 0.5vw 0 0;
		background-color: rgb(24, 24, 24);
		// border: solid 3px rgba(0, 0, 0, 0.089);
		border-radius: 0.2vw;
		position: relative;

		.template-box {
			// background-color: rgba(0, 0, 0, 0.199);
			margin: 0 0 0.7vw 0;

			.unit-list-box {
				max-height: 26.5vw;
				min-height: 6vw;
				overflow: auto;

				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				border-radius: 0.2vw;
				padding: 0.5vw;

				background-color: rgb(64, 64, 64);
				.__react_component_tooltip {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					align-items: center;
				}
			}

			.template-list {
				background-color: rgba(0, 0, 0, 0.199);
				max-height: 26.5vw;

				overflow: auto;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				.template {
					display: flex;
					flex-direction: column;
					padding: 0.15vw;
					position: relative;
					width: fit-content;

					.delete-btn {
						padding: 0.1vw 0.15vw;
						position: absolute;
						left: 4.1vw;
						z-index: 2;
					}

					.template-left {
						width: 80%;

						p {
							font-size: 1vw;
							padding-left: 0.5vw;
						}
					}

					.template-right {
						width: 20%;
						display: flex;
						justify-content: flex-end;
					}

					img {
						// max-height: 100%;
						width: 100%;
					}
				}

				// .template:hover {
				//     background-color: rgba(0, 0, 0, 0.671);
				//     color: white;
				// }
			}
		}

		.unit-box {
			// padding: 0.5vw;
			// background-color: rgba(0, 0, 0, 0.247);
			.container-list-box {
				max-height: 26.5vw;
				overflow: auto;

				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;

				border-radius: 0.2vw;
				padding: 0.5vw;
				background-color: rgb(64, 64, 64);
			}

			.model-box {
				background-color: rgba(0, 0, 0, 0.247);
				max-height: 26.5vw;
				overflow: auto;

				p {
					font-size: 1vw;
					padding-left: 0.5vw;
				}

				p:hover {
					background-color: rgba(0, 0, 0, 0.671);
					color: white;
				}
			}
		}
	}

	.right-box {
		width: 65%;
		height: 38vw;
		// overflow: auto;
		// position: relative;
		margin: 0 0.5vw 0 0;
		border-radius: 0.2vw;
		background-color: rgb(24, 24, 24);

		.map-box {
			// position: absolute;
			padding: 0.5vw;
			border: solid 0.15vw rgba(0, 0, 0, 0.089);
			border-radius: 0.5vw;
			height: 100%;
			overflow: hidden;
			position: relative;
			// background-color: rgba(0, 0, 0, 0.205);
			.scroll-anchor {
				position: relative;
				display: flex;
				justify-content: center;
			}

			.map-header {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 0.5vw;
				padding-left: 1vw;
				.left {
					width: 70%;
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
				}

				.right {
					width: 30%;
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					// button{
					//     width: 5rem;
					//     margin-right: 0.5vw;
					// }
				}

				.header-name {
					margin: 0;

					span:nth-child(n + 2)::before {
						content: " > ";
					}

					span {
						font-size: 0.75vw;
						font-weight: 500;
						// letter-spacing: 0.1vw;
						color: #ffffff;
					}
				}

				.remove-container-btn {
					margin: 0 0 0 0.5vw;
					padding: 0.15vw 0.2vw;
				}
			}
		}
	}

	.tips-box {
		position: absolute;
		z-index: 1;
		top: 4vw;
		left: 2vw;
		background: rgba(64, 64, 64, 0.8);
		padding: 0.5vw 1vw;
		border-radius: 1vw;
		border: solid 0.1vw rgb(99, 99, 99);
		h2{
			padding: 0 0 0.5vw 0;
		}
		.color-tag {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}
		span {
			line-height: 1vw;
		}
		.color-line {
			display: block;
			width: 2vw;
			height: 0.2vw;
			margin-right: 0.5vw;
			&.east-east {
				background-image: linear-gradient( to right , #0c0 , #0c0);
			}
			&.east-west {
				background-image: linear-gradient( to right , #0c0 , #4d4dff);
			}
			&.west-east {
				background-image: linear-gradient( to right , #4d4dff , #0c0);
			}
			&.west-west {
				background-image: linear-gradient( to right , #4d4dff , #4d4dff);
			}
		}
	}

	.intercon-box {
		width: 18%;
		padding: 0.5vw;
		// border: solid 3px rgba(0, 0, 0, 0.089);
		border-radius: 0.2vw;
		background-color: rgb(24, 24, 24);

		.intercon-content {
			padding: 0.5vw;
			border-radius: 0.2vw;
			// background-color: rgb(40, 40, 40);
		}

		.intercon-toggle-btn {
			width: 100%;
			height: 0.5vw;
			// background-color: rgb(94, 85, 72);

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// button{
			//     width: 14rem;
			//     height: 1.6rem;
			// }
		}
	}

	.container-form {
		width: 3.5vw;
		height: 2.5vw;
		margin: 0.2vw;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		border-radius: 0;
		box-shadow: 0 0.15vw 0.35vw 0 rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);

		background-color: rgb(24, 24, 24);

		.image-box {
			width: 100%;
			height: 70%;
			display: flex;
			justify-content: center;
			// background-color: white;
			// border-radius: 0.5vw 0.5vw 0 0;

			img {
				// border-radius: 0.5vw 0.5vw 0 0;
				max-height: 100%;
				max-width: 100%;
			}
		}

		.name-box {
			width: 100%;
			height: 30%;
			position: relative;
			display: flex;
			justify-content: center;

			span {
				position: absolute;
				// z-index: 1;

				font-size: 0.6vw;
				font-weight: 500;
			}
		}
	}

	.select-header {
		width: 100%;
		// margin: 0 0.5vw 0 0;
		padding: 0 1vw;
		// margin-right: 1vw;
		h3 {
			font-weight: 500;
		}
	}

	.select-box-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1vw 0;
		position: relative;
		background-color: #404040;
		margin-bottom: 0.5vw;
		border-radius: 1vw;
		.close {
			// right: 2.3vw;
			// top: 0.5vw;
			color: rgb(179, 179, 179);
			position: absolute;
			right: 0;
			font-size: 0.7vw;
			padding: 0.15vw 0.3vw;
			background-color: transparent;
			outline: none;
			border: none;
			cursor: pointer;
			border-radius: 0.5vw;
		}

		.close:hover {
			color: rgb(179, 179, 179);
			background-color: #6b0f1a;
		}
		.close-selected {
			background-color: transparent;
			color: rgb;
		}
	}

	.center-box {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		hr {
			width: 100%;
			margin-top: 1vw;
		}
	}

	.select-box {
		// width: 100%;
		// height: 15rem;
		// background-color: blanchedalmond;
		// border: solid 0.1vw #ccc;
		position: relative;

		background-color: rgb(40, 40, 40);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// background-color: rgb(64, 64, 64);
		padding: 0.8vw 0.5vw;
		border-radius: 0.5vw;
		min-width: 9vw;
		margin: 1.4vw 0.5vw 0.5vw 0.5vw;
		-webkit-box-shadow: 10px 7px 15px -1px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 10px 7px 15px -1px rgba(0, 0, 0, 0.75);
		box-shadow: 10px 7px 15px -1px rgba(0, 0, 0, 0.75);
		.image-box {
			width: 5vw;
			height: 4vw;
			// background-color: rgba(204, 204, 204, 0.39);
			border-radius: 0.15vw;

			display: flex;
			flex-direction: column;
			justify-content: center;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		span {
			// padding: 0.25vw 0;
		}
		.name {
			margin-top: 0.3vw;
			font-size: 0.8vw;
			font-weight: 500;
		}
		.model {
			opacity: 0.7;
		}
	}

	.unit-form {
		width: 4vw;
		// height: 3.5vw;
		height: fit-content;
		margin: 0.2vw;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		border-radius: 0;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);

		background-color: rgb(24, 24, 24);
		cursor: pointer;
		// background-color: brown;
		.image-box {
			width: 100%;
			// height: 70%;
			display: flex;
			justify-content: center;
			// padding: 0.2vw;
			// background-color: white;
			// border-radius: 0.5vw 0.5vw 0 0;

			img {
				// border-radius: 0.5vw 0.5vw 0 0;
				max-height: 100%;
				max-width: 100%;
			}
		}

		.name-box {
			width: 100%;
			// height: 30%;
			position: relative;
			display: flex;
			justify-content: center;

			// span {
			//     position: absolute;
			//     // z-index: 1;

			//     font-size: 0.6vw;
			//     font-weight: 500;
			// }
			span {
				font-size: 0.6vw;
				text-align: center;
			}
		}
	}

	.cy-context-menus-cxt-menu {
		display: none;
	}

	.selected-to-add {
		background-color: rgb(73, 21, 21);
	}

	.adding {
		cursor: move;
	}

	.context-menu-box {
		padding: 0.25vw 0.25vw;
		background-color: rgb(40, 40, 40);
		button {
			border-bottom: solid 0.05vw rgb(64, 64, 64);
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	.context-menu-item {
		width: 12vw;
		padding: 0.3vw 0.5vw 0.3vw 0.5vw;
		text-align: start;
		border: 0;
		// border: solid 0.1vw rgb(104, 104, 104);
		color: rgb(179, 179, 179);
		font-size: 0.75vw;
		font-weight: 400;

		background-color: transparent;
		// border-color: white !important;
		//  border-top-left-radius: 0.2vw !important;
		//  border-top-right-radius: 0.2vw !important;
		//  border-bottom-left-radius: 0.2vw !important;
		//  border-bottom-right-radius: 0.2vw !important;
		// color:white !important;
		// background-color: purple;
		// font-weight: bold !important;

		display: flex;
		align-items: center;

		img {
			position: absolute;
			right: 0.5vw;
			// padding-top: 0.2vw;
			width: 0.8vw;
			height: 0.8vw;
		}
	}

	.context-menu-item:hover {
		// width: 12rem;
		// padding: 2px 0 2px 10.2vw;
		// text-align: start;
		// border: solid 0.1vw rgb(104, 104, 104);
		background-color: rgb(64, 64, 64);
	}

	// .context-menu-box {
	//     background-color: black !important;
	//     // border-color: purple !important;

	// }

	.back-btn {
		padding: 0.1vw 0.5vw;
		margin-right: 0px;
		margin-left: 0.5vw;
	}

	.back-btn:hover {
		background-color: rgb(64, 64, 64);

		.back {
			color: rgb(179, 179, 179);
		}
	}

	.back {
		color: rgb(40, 40, 40);
	}

	.reset-topology {
		position: absolute;
		bottom: 0.5vw;
		right: 0.5vw;

		margin: 0;
	}

	.btn-row.intercon-btn {
		justify-content: center;
		.submit {
			margin: 0;
		}
	}
}
