/* body { */

  /* min-height: 100vh; */
  /* height: auto; */
  /* width: 100%; */
  /* overflow: hidden; */
  /* background-image: url("./assets/bg-30.png"); */
  /* background-position: center; */
  /* Center the image */
  /* background-repeat: no-repeat; */
  /* Do not repeat the image */
  /* background-size: cover; */
  /* Resize the background image to cover the entire container */
/* } */

