* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  background-color: #101010;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}

.close-btn {
  padding: 0.2vw 0.4vw;
  border-radius: 0.2vw;
  outline: none;
  border: none;
  cursor: pointer;

  background-color: rgb(64, 64, 64);
  font-size: 0.75vw;
  font-weight: 600;
  color: #eeeeee;
  // opacity: 0.8;
  margin: 0 0.75vw 0 0;
}

.fit-btn.close {
  position: absolute;
  top: 0.05vw;
  right: 0;

  padding: 0.25vw 0.5vw;
  border-radius: 0;

  color: #eeeeee;
  background-color: transparent;

  &:hover {
    background-color: #6b0f1a;
    color: rgb(179, 179, 179);
  }
}

.close-btn:hover {
  background-color: rgb(179, 179, 179);
  color: rgb(64, 64, 64);
}

@keyframes animation-s8tf20-no-shrink {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.submit-button {
  border-radius: 0.5vw;
  outline: none;
  cursor: pointer;
}

.btn {
  padding: 0.5vw 2vw;
  border-radius: 1.25vw;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
}

.btn-shade {
  -webkit-box-shadow: inset -1px -1px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -1px -1px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset -1px -1px 3px 0px rgba(0, 0, 0, 0.75);
}

.ellipsis-text{
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  // cursor: default;
}

.sm-btn {
  padding: 0.25vw 1vw;
  border-radius: 1.25vw;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.75vw;
  font-weight: 400;
  display: flex;
}

.fit-btn {
  padding: 0.25vw 0.5vw;
  border-radius: 1.25vw;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.75vw;
  font-weight: 400;
  display: flex;
}

textarea {
  // color: rgb(179, 179, 179);
  //   font-size: 14px;
  //   font-weight: 400;

  background-color: #4b4b4b;
  color: #b3b3b3;
  font-size: 0.75vw;

  padding: 0.5vw;

  text-rendering: auto;
  // color: rgba(64, 64, 64, 0.76);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textarea;
  // background-color: #ebebeb;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
  // font: 400 0.7vw Roboto;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: initial;
  outline: none;
  border-radius: 0.5vw;
}

.lr-container {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  // align-items: center;

  .left {
    width: 50%;
    display: flex;
    // flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .right {
    width: 50%;
    display: flex;
    // flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

.input-group {
  display: flex;
  flex-direction: row;
  padding: 0.25vw 0;

  .left {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // padding-left: 1vw;
  }

  .right {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .radio-btn {
    width: 0.75vw;
    margin: 0 0.25vw 0 0;
  }
}

.margin-right-20 {
  margin: 0 1vw 0 0;
}

.btn span {
  font-size: 0.75vw;
  font-weight: 400;
}

span {
  color: rgb(179, 179, 179);
  // color: #eeeeee;

  font-size: 0.7vw;
  font-weight: 400;
  line-height: 1vw;
}

.shift-down {
  margin-bottom: 0.5vw;
}

h1 {
  color: #ffffff;
  font-size: 0.8vw;
  font-weight: 500;
  letter-spacing: 0.05vw;
  line-height: 1;
}

h2 {
  color: rgb(179, 179, 179);
  font-size: 0.75vw;
  font-weight: 500;
  line-height: 1vw;
  // letter-spacing: 0.05vw;
  // margin-bottom: 10px;
}

h3 {
  // color: #b3b3b3;
  // font-size: 0.75vw;
  // font-weight: 500;
  // letter-spacing: 0.1vw;

  color: rgb(179, 179, 179);
  font-size: 0.75vw;
  font-weight: 400;
  line-height: 1;
}

hr {
  // width: 92%;

  // padding: 0;
  // // border-style: inset;
  // // border-width: 0.1vw;
  // border: solid 0.1vw rgba(179, 179, 179, 0.575);
  // margin: 0.2vw 0;
  border: 0;
  height: 0;
  border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.05vw solid rgba(255, 255, 255, 0.3);
}

select {
  width: 10vw;
  outline: none;
  background-color: rgb(40, 40, 40);
  color: rgb(179, 179, 179);
  padding: 0.2vw 0 0.2vw 0.3vw;
  // font: 400 0.7vw;
  font-size: 0.7vw;
  font-weight: 400;
  font: 400 0.7vw Roboto !important;
  border-radius: 0.25vw;
  // text-indent: 0.25vw;
  text-shadow: none;
  border: none;
}

header {
  padding: 0 0.5vw 1vw 0.5vw;
}

.sm-tab-black {
  background-color: rgb(40, 40, 40);
}

.tab-black {
  background-color: rgb(24, 24, 24);
}

.bg-black {
  background-color: rgb(16, 16, 16);
}

header.h1 {
  padding: 1vw 1vw 0 1vw;
  // padding: 0.5vw 1vw 0 1vw;
}
header.h2 {
  padding: 0 0 1vw 0;
  // padding: 0.5vw 1vw 0 1vw;
}

.section {
  padding: 1vw 0.5vw;
  border-radius: 0.5vw;
}

input {
  width: 10vw;
  padding: 0.25vw 0.25vw 0.25vw 0.5vw;
  border-radius: 0.25vw;
  border: none;
  outline: none;
  background-color: rgb(40, 40, 40);
  color: rgb(179, 179, 179);
  font-size: 0.7vw;

  &.disabled {
    opacity: 0.5;
  }
}
input[type=text], input[type=password] {
  font-size: 0.7vw;
}
.pagination-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

form {
  display: flex;
  // flex-direction: column;
}

.enable-color{
  background-color: hsl(115, 76%, 20%);
}
.submit {
  background-color: #6b0f1a;
  color: #eeeeee;
  // margin: 0 0.75vw 0 0;

  &:hover {
    background-color: rgb(179, 179, 179);

    span {
      color: rgb(40, 40, 40);
    }
  }
}

.cancel {
  background-color: rgb(90, 90, 90);
  opacity: 0.8;

  &:hover {
    background-color: rgb(179, 179, 179);

    span {
      color: rgb(40, 40, 40);
    }
  }
}

.btn-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

table {
  width: 100%;
  // text-align: left;
  position: relative;
  // border-collapse: collapse;
  border-spacing: 0;
  border-collapse: collapse;
}

thead {
  // border-collapse: collapse;
  // border-spacing: 0.1vw;
}

table,
td {
  // cursor: pointer;
  // border: solid 0.05vw rgba(64, 64, 64, 0.479);
}

th,
td {
  padding: 0.2vw;
}

th {
  position: sticky;
  // top: -0.15vw;
  top: 0;
  z-index: 1;
  background-color: rgb(40, 40, 40);
  transform: translateY(-1px);
  // border: solid 0.1vw rgb(64, 64, 64);
  // span{
  //     font-size: 10.25vw;
  //     font-weight: 400;
  // }
}
hr {

  margin: 0.2vw 0;
  border: 0;
  height: 0;
  border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.05vw solid rgba(255, 255, 255, 0.1);
}
tr {
  line-height: 0;

  height: 1.5vw;
  border-bottom: solid 0.05vw rgba(64, 64, 64, 0.479);
}

tr:nth-child(n + 2):hover {
  background-color: rgba(64, 64, 64, 0.322);
}

.text-center {
  text-align: center;
}

.action-row {
  display: flex;
  justify-content: center;

  button {
    margin-right: 0.25vw;

    &:last-child {
      margin-right: 0;
    }
  }
}

::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(179, 179, 179, 0.8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b0f1a;;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f0b14;;
}

.alert-modal-body {
  width: 42vw;
  height: 21vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;

  border: 0.1vw solid rgb(204, 204, 204);
  background: rgba(255, 255, 255, 0.856);
  overflow: auto;
  border-radius: 0.3;
  outline: none;
  padding: 1vw;
}

.tr-head {
  cursor: default;
  // border: rgb(64, 64, 64);
}

.hide {
  display: none;
}

.actions {
  margin-right: 0.25vw;
}

.question{
  i{
      font-size: 0.9vw;
  }
  
  cursor: pointer;
  &:hover{
      // color: #6b0f1a;
      // font-weight: 500;
      color: #eee;
  }
}

.toggle-switch {
  border-radius: 0.5vw !important;
  cursor: pointer;
  transition: background 0.25s ease 0s;
  //   width: 2vw;
  //   height: 1vw;
  .react-switch-bg {
    height: 1.05vw !important;
    width: 1.66vw !important;
    
    border-radius: 0.5vw !important;
  }

  .react-switch-handle {
    height: 0.85vw !important;
    width: 0.85vw !important;
    top: 0.05vw !important;
    
    
  }
  &.checked .react-switch-handle{
    transform: translateX(0.7vw) translateY(0.05vw) !important;
  }
  &.uncheck .react-switch-handle{
    transform: translateX(0.1vw) translateY(0.05vw) !important;
  }
}

.confirmation-modal {
  width: 21vw;
  // height: 10.1vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;

  border: 0.1vw solid rgb(24, 24, 24);
  background: rgb(18, 18, 18);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}
.confirmation-login-modal {
  width: 30vw;
  // height: 10.1vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;

  border: 0.1vw solid rgb(24, 24, 24);
  background: rgb(18, 18, 18);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.inform-modal {
  width: 21vw;
  height: 11.5vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;

  // padding: 1vw 0;
  border: 0.1vw solid rgba(40, 40, 40, 0.726);
  background: rgb(24, 24, 24);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 0 0.5vw;
  z-index: 2;
}

.confirmationWithRemark-modal {
  width: 21vw;
  // height: 13vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;

  border: 0.1vw solid rgb(24, 24, 24);
  background: rgb(18, 18, 18);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.confirmationFirmware-modal {
  width: 26vw;
  // height: 13vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;

  border: 0.1vw solid rgb(24, 24, 24);
  background: rgb(18, 18, 18);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.modal-body {
  width: 62.5vw;
  height: 31.25vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.interconnection-body {
  width: 78vw;
  // height: 39vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.intercon-edge-body {
  width: 50vw;
  height: 26vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: #181818;
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.interconn-list-body {
  width: 25vw;
  // height: 14vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.confirm-con-dis-body {
  width: 25vw;
  // height: 14vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.connection-visual-body {
  width: 50vw;
  height: 16.6vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.disconnection-table-body {
  width: 41vw;
  max-height: 36.5vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.panel-view-body {
  width: 95vw;
  height: 72vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow-y: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.edit-unit-body {
  width: 25vw;
  // height: 19.8vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.edit-account-body {
  width: 24vw;
  // height: 23.3vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.edit-port-config-body {
  width: 21vw;
  // height: 14.5vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.notification-body {
  width: 45vw;
  // height: 31.25vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(24, 24, 24);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.unit-notification-body {
  width: 45vw;
  min-height: 21vw;
  // max-width: 31.25vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.live-view-body {
  width: 89vw;
  // width: 90vw;
  // height: 31.25vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.remote-registration-body {
  width: 26vw;
  // height: 17.8vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
//   -webkit-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.75);
// -moz-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.75);
// box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.75);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.unit-dashboard-body {
  width: 90vw;
  height: 40vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  // padding: 1vw;
  z-index: 2;
}

.edit-customer-body {
  width: 23.5vw;
  // height: 21.35vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.loading-modal {
  width: 26vw;
  height: 26vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;

  // border: 0.1vw solid rgb(204, 204, 204);
  // background: rgba(255, 255, 255, 0.856);
  // overflow: auto;
  // border-radius: 0.25vw;
  outline: none;

  // padding: 1vw;
  .loading-center {
    span {
      width: 10.5vw;
      height: 10.5vw;
    }
  }
}

.filter-option-body {
  width: 20vw;
  // height: 12.4vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.element-visual-body {
  width: 50vw;
  height: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(16, 16, 16);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.video-body {
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  background-color: rgb(28,28,28);
  // border: 0.1vw solid rgba(204, 204, 204, 0.822);
  // background: #ebebeb;
  //  rgba(255, 255, 255, 0.95);
  overflow: auto;
  border-radius: 0.25vw;
  outline: none;
  padding: 1vw;
  z-index: 2;
}

.filter-option-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(24, 24, 24, 0.6);
  background-color: rgba(40, 40, 40, 0.6);

  z-index: 1000;
  /* Must be greater than #side-dragbar:z-index */
}

.white-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(24, 24, 24, 0.6);
  // background-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(40, 40, 40, 0.6);

  z-index: 1000;
  /* Must be greater than #side-dragbar:z-index */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.8);
  z-index: 1000;
  /* Must be greater than #side-dragbar:z-index */
}

.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(24, 24, 24, 0.6);
  // background-color: rgba(40, 40, 40, 0.4);
  background-color: rgba(40, 40, 40, 0.6);


  // z-index: 1000; /* Must be greater than #side-dragbar:z-index */
  z-index: 1000;
}

.default-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(24, 24, 24, 0.6);
  // background-color: rgba(40, 40, 40, 0.4);
  background-color: rgba(40, 40, 40, 0.6);


  z-index: 1000;
  // backdrop-filter: blur(4px);
}

.no-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(0, 0, 0, 0.726);
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(64, 64, 64, 0.1);
  // background-color: rgba(40, 40, 40, 0.4);
  background-color: rgba(40, 40, 40, 0.6);

  // background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  // z-index: 1000; /* Must be greater than #side-dragbar:z-index */
}

.alert-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(24, 24, 24, 0.6);
  // background-color: rgba(40, 40, 40, 0.4);
  background-color: rgba(40, 40, 40, 0.6);


  z-index: 1000;
}

.panel-view-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: rgba(24, 24, 24, 0.6);
  // background-color: rgba(40, 40, 40, 0.4);
  background-color: rgba(40, 40, 40, 0.6);

  z-index: 1000;
}

.next.btn-disable {
  opacity: 0.3;
  cursor: default;
}

.invalid-input{
		
  border: solid 0.1vw #FF5733 !important;
  
}

.__react_component_tooltip.errorClass {
  // font-size: 20px !important;
  // pointer-events: auto !important;

  background-color: #ffbb33;
  // padding: 0.5vw 1vw;
  color: #181818 !important;
  background: #ffbb33;
  border: 0.05vw solid #ff8800;

  &:hover {
      visibility: visible !important;
      opacity: 1 !important;
  }
}

.__react_component_tooltip.defaultTooltip {
  border-radius: 0.3vw;
  font-size: 0.7vw;
  color: #d4d4d4;
  max-width: 20vw;
}

.__react_component_tooltip.noteClass {
  background-color: #282828;
  // padding: 0.5vw 1vw;
  background: #282828;
  border: 0.05vw solid #404040;
  text-align: center;
}
.__react_component_tooltip.noteClass {
  text-align: left !important;
}

.__react_component_tooltip.portClass {
  background-color: #181818;
  // padding: 0.5vw 1vw;
  background: #181818;
  border: 0.05vw solid #404040;
  text-align: left;
  // max-width: 10vw;
  padding: 0.5vw 1vw;

}

.__react_component_tooltip.remarkClass {
  background-color: #282828;
  padding: 0.5vw 1vw;
  background: #282828;
  border: 0.05vw solid #404040;
  text-align: center;
}

.__react_component_tooltip.remoteClass {
  
  background-color: #6b0504;
  background: #6b0504;
  padding: 0.32vw 1vw 0.5vw 1vw ;
  border-radius: 1vw;
}

.defaultTooltip {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  max-width: 100%;
}