.connectivity {

    // width: 100%;
    // height: 100%;

    #cy {
        // width: 100%;
        height: 8vw;
        // height: 100%;
        display: block;
        // z-index: 0;
        background: rgb(64, 64, 64);
        border-radius: 0.25vw;
        margin-bottom: 0.5vw;
        // position: absolute;

    }
    hr {
        // width: 92%;

        // padding: 0;
        // // border-style: inset;
        // // border-width: 0.1vw;
        // border: solid 0.1vw rgba(179, 179, 179, 0.575);
        margin: 0.5vw 0;
        border: 0;
        height: 0;
        border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
        border-bottom: 0.05vw solid rgba(255, 255, 255, 0.3);
    }
    .connectivity-layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;

        .system-section {
            width: 35%;
            // height: 80%;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            background-color: rgb(24, 24, 24);
            margin: 10px;
            padding: 10px 15px;
            // border: solid 1px black;
            border-radius: 5px;

            .duo-select-container {
                display: flex;
                flex-direction: row;

                // margin: 0 0 5px 0;
                .left-container {
                    width: 50%;

                }

                .right-container {
                    width: 50%;
                    // position: relative;
                    .front-panel-view{
                        position: absolute;
                        top: 0px;
                        right: 5px;
                        
                    }
                }

                .search-section {
                    border-radius: 0;
                }
            }

            .search-section {
                border-radius: 5px;
                background-color: rgb(40, 40, 40);
                padding: 10px 10px;


                // display: flex;
                // flex-direction: row;

                // .left{
                //     width: 50%;
                // }
                // .right{
                //     width: 50%;
                // }


            }

            .toggle-tab {
                width: 100%;
                height: 3rem;
                display: flex;
                flex-direction: row;
                // justify-content: center;
                background-color: rgb(40, 40, 40);
                border-radius: 5px;
                margin-bottom: 5px;


                .tab {
                    width: 50%;
                    height: 100%;
                    padding: 0 0 0 1.2rem;

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    cursor: pointer;

                    span {
                        margin: 0 12px 0 0;

                    }
                }

                // .tab:hover{
                //     background-color: rgb(18, 18, 18);
                // }
            }

            .search-group {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                // margin: 5px;
                margin-bottom: 5px;
                padding: 10px 10px;
                background-color: rgb(40, 40, 40);

                // position: sticky;
                // top: 0;
                // border-radius: 10px 10px 0 0;

                input {
                    width: 10rem;
                }
            }

            .port-section {
                background-color: rgb(40, 40, 40);
                display: flex;
                justify-content: center;
                // background-color: rgb(32, 29, 29);
                // border-radius: 0 0 10px 10px;
                margin: 0 0 10px 0;

                .search-table {
                    width: 100%;
                    height: 350px;
                    overflow: auto;

                }

                .fiber-selection {
                    height: 350px;
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .recommended {
                        background-color: rgb(64, 64, 64);

                        span {
                            color: rgb(24, 24, 24);
                        }
                    }

                    .fiber-select-box {
                        // position: relative;

                        // width: 8rem;
                        // height: 8rem;
                    }
                }
            }

        }

        .connectivity-content {
            width: 100%;
            // height: 80%;

            display: flex;
            flex-direction: column;

            // .path-section {
            //     // width: 50%;
            //     // height: 50%;
            //     // background-color: rgb(24, 24, 24);
            //     margin: 10px;
            //     padding: 10px 15px;
            //     // border: solid 1px black;
            //     border-radius: 5px;

            //     .cyto-container {
            //         height: 100%;
            //         overflow: auto;
            //     }
            // }
            .cyto-container {
                height: 100%;
                overflow: auto;
            }

            .remaining-task {
                // width: 50%;
                // height: 50%;
                background-color: rgb(24, 24, 24);
                margin: 10px;
                padding: 10px 15px;
                // border: solid 1px black;
                border-radius: 5px;
            }
        }
    }



    .fiber-checkbox {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        right: 0;
    }

    .fiber-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        width: 4rem;
        height: 4rem;
        margin-bottom: 10px;
        // padding: 5px;
        background-color: rgb(24, 24, 24);
        border-radius: 10px;
        -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);

        .fiber-box-header {
            // align-self: flex-start;
            position: absolute;
            bottom: 2%;
            right: 10%;
        }

        // h2 {
        //     font-size: 20px;
        // }

        span {
            font-size: 13px;
            color: rgb(64, 64, 64);
        }
    }
    .show-text{
       
        cursor: pointer;
        text-decoration: underline;
        opacity: 0.8;
        width: fit-content;
    }

    .paragraph{
        // padding: 0 1vw;
        display: flex;
        flex-direction: column;
        span{ 
            // display: block;
            width: 100%;
            height: 2.2vw;
            overflow: auto;
            display: inline-block;
            // flex-direction: row;
            // background-color: blue;
            margin-bottom: 0.5vw;
        }

        
    }



    .tab-selecting {
        background-color: rgb(64, 64, 64);
        border-radius: 10px 10px 0 0;
        // border: ;
    }


    .task-table {
        height: 120px;
        overflow: auto;

        table,
        th,
        tr {
            border: solid 1px rgba(64, 64, 64, 0.678)
        }
    }


    .selected-port {

        width: 6rem;
        background-color: rgb(24, 24, 24);
        color: #EEEEEE;
        border: solid 1px rgb(18, 18, 18);

        padding: 8px 8px;


        //   border-radius: 25px;
        //   outline: none;
        //   border: none;
        //   cursor: pointer;
    }

    // .selected-port:hover {
    //     background-color: rgb(64, 64, 64);
    //     border: solid 1px rgb(179, 179, 179);
    // }

    .margin-right {
        margin: 0 12px 0 0;
    }


    .selected {

        background-color: #181818;
        ;

        span {
            // color: #6B0F1A;
            font-weight: 700;
        }
    }

    .selected:hover {
        background-color: #181818;

        span {
            color: #6B0F1A;
            // font-weight: 700;
        }
    }

    .btn-row{
        margin: 1vw 1vw 0;
    }


    .search-route-btn {
        padding: 20px 10px 0 0;
    }

    

    .second-row {
        top: 28px;
    }



   

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(179, 179, 179);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(24, 24, 24)
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}

.connectivity-visual {

    // width: 100%;
    // height: 100%;

    #cy {
        // width: 100%;
        height: 12vw;
        // height: 100%;
        display: block;
        // z-index: 0;
        background: rgb(64, 64, 64);
        border-radius: 0.25vw;
        margin-bottom: 0.5vw;
        // position: absolute;

    }
    header.h1 {
        padding: 0 0 1vw 0;
    }
    header{
        display: flex;
        flex-direction: row;
    }
    hr {
        // width: 92%;

        // padding: 0;
        // // border-style: inset;
        // // border-width: 0.1vw;
        // border: solid 0.1vw rgba(179, 179, 179, 0.575);
        margin: 0.5vw 0;
        border: 0;
        height: 0;
        border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
        border-bottom: 0.05vw solid rgba(255, 255, 255, 0.3);
    }
    .connectivity-layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;

        .system-section {
            width: 35%;
            // height: 80%;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            background-color: rgb(24, 24, 24);
            margin: 10px;
            padding: 10px 15px;
            // border: solid 1px black;
            border-radius: 5px;

            .duo-select-container {
                display: flex;
                flex-direction: row;

                // margin: 0 0 5px 0;
                .left-container {
                    width: 50%;

                }

                .right-container {
                    width: 50%;
                    // position: relative;
                    .front-panel-view{
                        position: absolute;
                        top: 0px;
                        right: 5px;
                        
                    }
                }

                .search-section {
                    border-radius: 0;
                }
            }

            .search-section {
                border-radius: 5px;
                background-color: rgb(40, 40, 40);
                padding: 10px 10px;


                // display: flex;
                // flex-direction: row;

                // .left{
                //     width: 50%;
                // }
                // .right{
                //     width: 50%;
                // }


            }

            .toggle-tab {
                width: 100%;
                height: 3rem;
                display: flex;
                flex-direction: row;
                // justify-content: center;
                background-color: rgb(40, 40, 40);
                border-radius: 5px;
                margin-bottom: 5px;


                .tab {
                    width: 50%;
                    height: 100%;
                    padding: 0 0 0 1.2rem;

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    cursor: pointer;

                    span {
                        margin: 0 12px 0 0;

                    }
                }

                // .tab:hover{
                //     background-color: rgb(18, 18, 18);
                // }
            }

            .search-group {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                // margin: 5px;
                margin-bottom: 5px;
                padding: 10px 10px;
                background-color: rgb(40, 40, 40);

                // position: sticky;
                // top: 0;
                // border-radius: 10px 10px 0 0;

                input {
                    width: 10rem;
                }
            }

            .port-section {
                background-color: rgb(40, 40, 40);
                display: flex;
                justify-content: center;
                // background-color: rgb(32, 29, 29);
                // border-radius: 0 0 10px 10px;
                margin: 0 0 10px 0;

                .search-table {
                    width: 100%;
                    height: 350px;
                    overflow: auto;

                }

                .fiber-selection {
                    height: 350px;
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .recommended {
                        background-color: rgb(64, 64, 64);

                        span {
                            color: rgb(24, 24, 24);
                        }
                    }

                    .fiber-select-box {
                        // position: relative;

                        // width: 8rem;
                        // height: 8rem;
                    }
                }
            }

        }

        .connectivity-content {
            width: 100%;
            // height: 80%;

            display: flex;
            flex-direction: column;

            // .path-section {
            //     // width: 50%;
            //     // height: 50%;
            //     // background-color: rgb(24, 24, 24);
            //     margin: 10px;
            //     padding: 10px 15px;
            //     // border: solid 1px black;
            //     border-radius: 5px;

            //     .cyto-container {
            //         height: 100%;
            //         overflow: auto;
            //     }
            // }
            .cyto-container {
                height: 100%;
                overflow: auto;
            }

            .remaining-task {
                // width: 50%;
                // height: 50%;
                background-color: rgb(24, 24, 24);
                margin: 10px;
                padding: 10px 15px;
                // border: solid 1px black;
                border-radius: 5px;
            }
        }
    }



    .fiber-checkbox {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        right: 0;
    }

    .fiber-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        width: 4rem;
        height: 4rem;
        margin-bottom: 10px;
        // padding: 5px;
        background-color: rgb(24, 24, 24);
        border-radius: 10px;
        -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);

        .fiber-box-header {
            // align-self: flex-start;
            position: absolute;
            bottom: 2%;
            right: 10%;
        }

        // h2 {
        //     font-size: 20px;
        // }

        span {
            font-size: 13px;
            color: rgb(64, 64, 64);
        }
    }


    .paragraph{
        // padding: 0 1vw;
        display: flex;
        flex-direction: column;
        span{ margin-bottom: 0.5vw;}

        span.show-text{
            cursor: pointer;
            text-decoration: underline;
            opacity: 0.8;
            width: fit-content;
        }
    }



    .tab-selecting {
        background-color: rgb(64, 64, 64);
        border-radius: 10px 10px 0 0;
        // border: ;
    }


    .task-table {
        height: 120px;
        overflow: auto;

        table,
        th,
        tr {
            border: solid 1px rgba(64, 64, 64, 0.678)
        }
    }


    .selected-port {

        width: 6rem;
        background-color: rgb(24, 24, 24);
        color: #EEEEEE;
        border: solid 1px rgb(18, 18, 18);

        padding: 8px 8px;


        //   border-radius: 25px;
        //   outline: none;
        //   border: none;
        //   cursor: pointer;
    }

    // .selected-port:hover {
    //     background-color: rgb(64, 64, 64);
    //     border: solid 1px rgb(179, 179, 179);
    // }

    .margin-right {
        margin: 0 12px 0 0;
    }


    .selected {

        background-color: #181818;
        ;

        span {
            // color: #6B0F1A;
            font-weight: 700;
        }
    }

    .selected:hover {
        background-color: #181818;

        span {
            color: #6B0F1A;
            // font-weight: 700;
        }
    }

    .btn-row{
        margin: 1vw 1vw 0;
    }


    .search-route-btn {
        padding: 20px 10px 0 0;
    }

    

    .second-row {
        top: 28px;
    }



 

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(179, 179, 179);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(24, 24, 24)
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}