.port-assignment-container {
    .content {
        width: 100%;
        padding: 1vw 0.5vw 0;

        display: flex;
        justify-content: space-evenly;

        .available-tab {
            width: 74%;
        }

        .customer-tab {
            width: 24%;

            .added-port,
            .customer-owned {
                width: 100%;
            }
        }

        .upper-tab {
            padding: 0.5vw;
            border-radius: 1vw;

            margin-bottom: 0.5vw;
        }
    }

    select {
        background-color: rgb(40, 40, 40);
        border: none;
        color: rgb(179, 179, 179);
    }

    .selected-page {
        background-color: rgb(64, 64, 64);
        font-weight: 600;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .lr-container {
        margin: 0 0 0.5vw 0;
        padding: 0 1vw 0.5vw;

        .left {
            width: 35%;
        }

        .right {
            width: 65%;
            position: relative;

            .search-input {
                padding: 0.3vw 1vw;
                border-radius: 1vw 0 0 1vw;
            }

            .search-btn {
                margin: 0;
                padding: 0.3vw 0.5vw;
                border-radius: 0 1vw 1vw 0;
                color: rgb(179, 179, 179);
            }

            .checkmark {
                width: fit-content;
                margin-right: 0.2vw;
            }
        }
    }

    .lr-container {
        padding: 0.2vw 0;
        margin-bottom: 1vw;
        align-items: center;

        .right {
            .search-input {
                padding: 0.3vw 1vw;
                border-radius: 1vw 0 0 1vw;
            }

            .search-btn {
                margin: 0;
                padding: 0.3vw 0.5vw;
                border-radius: 0 1vw 1vw 0;
            }

            .checkmark {
                width: fit-content;
                margin-right: 0.2vw;
            }
        }

        h2 {
            // width: 10%;
            margin-right: 1vw;
        }

        span {
            // margin-right: 0.5vw;
        }

        span.result {
            background-color: rgba(24, 24, 24, 0.5);
            padding: 0.1vw 0.5vw;
            border-radius: 0.5vw;
        }
        select {
            width: 4vw;
        }

        // input{
        //     width: 90%;
        // }
        button {
            // background-color: rgb(40, 40, 40);
            margin: 0 0.5vw 0 0.5vw;

            span {
                // color: rgb(64, 64, 64);
                // margin-right: 0.2vw;
            }

            input {
                width: 2vw;
            }

            &.active {
                background-color: rgb(179, 179, 179);
                color: rgb(64, 64, 64);
            }
        }
        .search-filter-button {
            margin: 0 1vw 0 0;
        }
    }

    .switch {
        margin-right: 0.5vw;
    }

    .inactive {
        opacity: 0.7;
        cursor: default;
        &:hover {
            background-color: #6b0f1a;
            span {
                color: #b3b3b3;
            }
        }
    }

    .section-container {
        background-color: rgb(24, 24, 24);
        border-radius: 0.5vw;
        // padding: 1vw 0.5vw;
    }

    .section-bottom {
        padding: 1vw 0.5vw;
        border-radius: 0 0 0.5vw 0.5vw;
    }

    //   .source {
    //     margin-bottom: 1.8vw;
    //   }

    .username {
        margin-left: 1vw;
        padding: 0.2vw 0.5vw;
        border-radius: 1vw;
        border: solid 0.05vw rgb(64, 64, 64);
    }

    .icon {
        // padding: 0.1vw 0.5vw;
        font-size: 1vw;
        cursor: pointer;
    }

    .icon:hover {
        // background-color: rgb(179, 179, 179);

        color: rgb(64, 64, 64);
    }

    .box {
        display: flex;
        flex-direction: column;
        padding: 0.5vw;
        // margin: 0 10vw;
        border-radius: 0.5vw;

        background-color: rgb(40, 40, 40);

        // flex-wrap: wrap;
        // justify-content: center;

        // .port .connector {
        //     height: 100%;
        //     width: 100%;

        //     .upper {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;
        //         align-items: center;

        //         height: 80%;
        //         border-radius: 5px;
        //         background-color: rgb(40, 40, 40);
        //         // -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        //         // -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        //         // box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        //     }

        //     .lower {
        //         height: 20%;
        //     }
        // }

        // .port .adapter {
        //     height: 100%;
        //     width: 100%;

        //     .upper {

        //         height: 20%;
        //     }

        //     .lower {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;
        //         align-items: center;

        //         height: 80%;
        //         border-radius: 5px;
        //         background-color: rgb(40, 40, 40);
        //         // -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
        //         // -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
        //         // box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
        //     }
        // }
    }

    .box {
        display: flex;
        flex-direction: column;
        padding: 0.5vw;
        // margin: 0 10vw;
        border-radius: 0.5vw;

        background-color: rgb(40, 40, 40);

        // flex-wrap: wrap;
        // justify-content: center;
        .row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        // .port .connector {
        //     height: 100%;
        //     width: 100%;

        //     .upper {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;
        //         align-items: center;

        //         height: 80%;
        //         border-radius: 5px;
        //         background-color: rgb(40, 40, 40);
        //         // -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        //         // -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        //         // box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        //     }

        //     .lower {
        //         height: 20%;
        //     }
        // }

        // .port .adapter {
        //     height: 100%;
        //     width: 100%;

        //     .upper {

        //         height: 20%;
        //     }

        //     .lower {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;
        //         align-items: center;

        //         height: 80%;
        //         border-radius: 5px;
        //         background-color: rgb(40, 40, 40);
        //         // -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
        //         // -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
        //         // box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
        //     }
        // }
    }

    .light-status {
        // width: 0.3vw;
        // height: 0.3vw;
        // background-color: #242424;
        // box-shadow: 0 0 2px 1px #242424;
        // border-radius: 0.2vw;
        // margin-right: 0.2vw;
        width: 0.6vw;
        height: 0.15vw;
        background-color: #242424;
        box-shadow: 0 0 0.1vw 0.05vw #242424;
        border-radius: 0.2vw;
        margin-top: 0.2vw;
        opacity: 0.8;
    }

    .connected {
        .light-status {
            background-color: #ff0000 !important;
            // box-shadow: 0 0 2px 1px #ff0000 !important;
        }
    }

    .available {
        .light-status {
            background-color: #00cc00 !important;
            // box-shadow: 0 0 2px 1px #ffbb00 !important;
        }
    }

    .disabled {
        opacity: 0.1;

        .light-status {
            background-color: rgb(122, 110, 110) !important;
            box-shadow: 0 0 2px 1px rgb(122, 110, 110) !important;
        }
    }

    .unassignable {
        opacity: 0.4;

        .light-status {
            background-color: rgb(122, 110, 110) !important;
            box-shadow: 0 0 2px 1px rgb(122, 110, 110) !important;
        }
    }

    .connecting {
        animation: 1s connect-blink ease infinite;

        .light-status {
            background-color: #00cc00 !important;
            // box-shadow: 0 0 2px 1px #ffbb00 !important;
            animation: 1s blink ease infinite;
            -webkit-animation: 1s blink ease infinite;
            -moz-animation: 1s blink ease infinite;
            -ms-animation: 1s blink ease infinite;
            -o-animation: 1s blink ease infinite;
        }
    }

    .disconnecting {
        animation: 1s disconnect-blink ease infinite;

        .light-status {
            background-color: #ff0000 !important;
            // box-shadow: 0 0 2px 1px #ffbb00 !important;
            animation: 1s blink ease infinite;
            -webkit-animation: 1s blink ease infinite;
            -moz-animation: 1s blink ease infinite;
            -ms-animation: 1s blink ease infinite;
            -o-animation: 1s blink ease infinite;
        }
    }

    // .disconnecting {
    //   animation: 1s recover-blink ease infinite;
    //   .light-status {
    //     background-color: #00CC00 !important;
    //     // box-shadow: 0 0 2px 1px #ffbb00 !important;
    //     animation: 1s blink ease infinite;
    //     -webkit-animation: 1s blink ease infinite;
    //     -moz-animation: 1s blink ease infinite;
    //     -ms-animation: 1s blink ease infinite;
    //     -o-animation: 1s blink ease infinite;
    //   }

    // }

    .recovering {
        animation: 1s recover-blink ease infinite;

        .light-status {
            background-color: #4d4dff !important;
            // box-shadow: 0 0 2px 1px #ffbb00 !important;
            animation: 1s blink ease infinite;
            -webkit-animation: 1s blink ease infinite;
            -moz-animation: 1s blink ease infinite;
            -ms-animation: 1s blink ease infinite;
            -o-animation: 1s blink ease infinite;
        }
    }

    .locking {
        animation: 1s lock-blink ease infinite;

        .light-status {
            background-color: #c4c4c4 !important;
            // box-shadow: 0 0 2px 1px #ffbb00 !important;
            animation: 1s blink ease infinite;
            -webkit-animation: 1s blink ease infinite;
            -moz-animation: 1s blink ease infinite;
            -ms-animation: 1s blink ease infinite;
            -o-animation: 1s blink ease infinite;
        }
    }

    // @keyframes blink {
    //   50% {
    //     opacity: 0.0;
    //   }
    // }

    // @-webkit-keyframes blink {
    //   50% {
    //     opacity: 0.0;
    //   }
    // }

    @keyframes blink {
        from,
        to {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    @keyframes disconnect-blink {
        from,
        to {
            border: solid 2px #ff000000;
        }

        50% {
            border: solid 2px #ff0000;
        }
    }

    @keyframes connect-blink {
        from,
        to {
            border: solid 2px #00cc0000;
        }

        50% {
            border: solid 2px #00b400;
        }
    }

    @keyframes recover-blink {
        from,
        to {
            border: solid 2px #4d4dff00;
        }

        50% {
            border: solid 2px #4d4dff;
        }
    }

    @keyframes lock-blink {
        from,
        to {
            border: solid 2px #c4c4c400;
        }

        50% {
            border: solid 2px #c4c4c4;
        }
    }

    .group {
        margin: 5px;
        background-color: rgb(40, 40, 40);
    }

    .selected {
        background-color: rgb(179, 179, 179) !important;

        span {
            color: rgb(64, 64, 64);
            font-weight: 700;
        }
    }

    .selected:hover {
        background-color: rgb(204, 204, 204) !important;

        span {
            font-size: 0.8vw;
            font-weight: 600;
            color: rgb(56, 9, 9);
        }
    }

    .port {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // margin: 5px;

        width: 4%;
        height: 2.8vw;

        // border-radius: 5px;

        background-color: rgb(18, 18, 18);
        border: solid 0.15vw #121212;
        cursor: pointer;

        span {
            font-size: 0.75vw;
            margin-bottom: 0.2vw;
        }
    }
    .port-size {
        width: 2.55vw !important;
    }

    .port:hover {
        // background-color: rgb(27, 3, 3);
        border: solid 2px rgb(64, 64, 64);
    }

    .same-type {
        cursor: not-allowed;
        opacity: 0.4;
    }

    .close {
        font-size: 1vw;
    }

    .port-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        overflow: auto;
        width: 100%;
        height: 23.2vw;
    }

    .lr-tab {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        h2 {
            margin-right: 1vw;
        }
    }

    .toggle-btn-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .selected-number, .added-number {
            display: flex;
            justify-content: center;
            align-items: center;

            margin-left: 0.4vw;
            background-color: #6b0f1a;
            border-radius: 1vw;
            line-height: 1vw;
        }
        .selected-number{
            padding: 0.1vw 0.4vw 0.2vw 0.1vw;
        }
        .added-number {
            padding: 0.1vw 0.5vw 0.2vw 0.5vw;
        }
        .tab {
            display: flex;
            flex-direction: row;
            width: 50%;
            justify-content: center;
            align-items: center;
            border-radius: 1vw 1vw 0 0;
            cursor: pointer;
            padding: 1vw 0;
        }

        .tab.show {
        }
    }

    .next.btn-disable {
        opacity: 0.3;
        cursor: default;
    }
    .specific-line-height{
        line-height: 1.3vw;
    }
    .fit-btn{
        padding: 0.25vw 0.8vw;
      }
}
