.network-setting-container {
	.content-container {
		margin: 1vw;
		// width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;

		.timezone {
			padding: 0 !important;
			background-color: transparent !important;
		}
		.operation-container {
			padding-left: 1vw;
			.button-container {
				padding-left: 1vw;

				button {
					width: 8vw;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					margin-right: 0.5vw;
					// background-color: transparent;
					// border: solid 0.15vw #6b0f1a;
					// margin: 0.5vw 0;
					// &:last-child{
					//     margin-bottom: 0;
					// }
				}
			}
			.appliance {
				.input-group .left {
					width: 35%;
				}
				.input-group .right {
					width: 65%;
				}
			}
		}
		.no-bg {
			padding: 0 !important;
			background-color: transparent !important;
		}
		.content {
			padding: 1vw;

			width: 33.33%;

			background-color: rgb(24, 24, 24);
			margin-right: 1vw;
			border-radius: 0.5vw;

			.sub-content {
				width: 100%;
				padding: 1vw;
				border-radius: 0.5vw;
				background-color: rgb(24, 24, 24);
				margin-bottom: 1vw;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.timezone-hr {
				margin-top: 1vw;
				margin-bottom: 0.5vw;
			}    

			&:last-child {
				margin-right: 0;
			}

			.input-group {
				margin-left: 1vw;

				.left {
					width: 30%;
				}

				.right {
					width: 70%;
				}
			}

			&.timezone {
				select {
					width: 14vw;
				}

				.input-group {
					.left {
						width: 15%;
					}

					.right {
						width: 85%;
					}
				}
			}

			.disabled {
				opacity: 0.5;
			}
		}
	}

	.input-group.ip-address-setup {
		margin-bottom: 0.5vw;

		input.radio {
			width: 1vw;
			// height: 1vw;
		}

		.left {
			// justify-content: flex-start;
			align-content: flex-start;
			justify-content: flex-start;
			align-items: flex-start;
			padding-left: 0;
			width: 35%;
		}

		.right {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			width: 65%;
		}
		.input-group {
			.left,
			.right {
				align-items: center;
			}
		}
	}

	.popup {
		padding: 0.5vw;
		margin-bottom: 0.5vw;
		border-radius: 0.5vw;
		background-color: rgb(40, 40, 40);

		.right .input-group {
			padding: 0;
			width: 100%;
			margin: 0 0 0.25vw;

			input {
				width: 8vw;
				background-color: rgb(64, 64, 64);
			}
			.left {
				width: 30%;
			}
			.right {
				width: 70%;
				flex-direction: row;
			}

			&.ntp-server {
				margin: 0 0 0.25vw;

				.left {
					width: 25%;
				}
				.right {
					flex-direction: row;
				}
			}
		}

		input {
			width: 10vw;
			background-color: rgb(64, 64, 64);
		}

		.dhcp-default {
			span,
			.input-group {
				margin: 0 0 0.4vw;
			}
			.input-group {
				.left {
					width: 35%;
				}
				.right {
					width: 65%;
				}
			}
		}
	}

	.sub-group {
		margin: 0 0 0.25vw;
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		label {
			display: flex;
			margin-left: 0.2vw;
		}
		span {
			align-self: center;
		}
	}

	select {
		background-color: rgb(64, 64, 64);
		padding: 0.2vw 0 0.2vw 0.2vw;
	}

	header.h2 {
		padding: 0 0.5vw 0.2vw 0.5vw;
	}

	hr {
		margin-bottom: 0.3vw;
	}

	.btn-row .submit {
		margin: 0;
	}

	.datetime {
		.rdtPicker {
			border-radius: 0.5vw;
			padding: 1vw 0.8vw;
			min-width: 14vw;
            background-color: rgb(64,64,64);
            border: 0.05vw solid rgb(78, 78, 78);
            margin-top: 0.05vw;
		}
        .rdtSwitch{
            color: #eee;
            font-size: 0.8vw;
            font-weight: 700;
            &:hover{
                color: #282828;
                background-color: #eee;
            }
        }
        .rdtPrev, .rdtNext{
            background-color: rgba(255, 255, 255, 0.1);
        }
        .dow{
            color: #eee;
        }
        tbody:before {
            content:"@";
            display:block;
            line-height:0.8vw;
            text-indent:-99999px;
        }
        tfoot:before {
            content:"@";
            display:block;
            line-height:0.8vw;
            text-indent:-99999px;
        }
		th {
			background-color: transparent;
            border-bottom: 0;
		}
        tr {
            
        }
        td{
            font-size: 0.75vw;
            font-weight: 400;
            
        }
        .rdtDay, .rdtMonth, .rdtYear {
            color: #eee;
            &:hover {
                color: #282828;
            }
        } 
        .rdtOld, .rdtNew {
            color: rgb(110, 110, 110);
        }
        
        .rdtTimeToggle{
            color: #eee;
            font-size: 0.8vw;
            font-weight: 700;
            letter-spacing: 0.05vw;
            &:hover {
                color: #282828;
            }
        }
        .rdtCounter{
            width: 2.2vw;
            height: fit-content;
        }
        .rdtBtn{
            height: fit-content;
            line-height: 2vw;
        }
        .rdtCount{
            height: fit-content;
            color: #eee;
            font-size: 0.8vw;
            line-height: 1.5vw;
        }

        .rdtCounterSeparator{
            color: #eee;

        }
	}
}

.warning-update-network {
	padding-left: 0.9vw;
    display: flex;
	i {
		margin-right: 0.2vw;
		font-size: 0.9vw;
		color: #aa2b3a;
	}
	span {
		color: #aa2b3a;
	}
}