
.firmware-update {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	hr {
		margin: 0.5vw 0;
		border: 0;
		height: 0;
		border-top: 0.05vw solid rgba(0, 0, 0, 0.1);
		border-bottom: 0.05vw solid rgba(255, 255, 255, 0.3);
	}

	h2{
		font-size: 0.8vw;
	}

	// .paragraph {
	// 	font-size: 0.75vw;
	// 	font-weight: 400;
	// 	margin-bottom: 0.5vw;
	// 	display: block;
	// 	// min-height: 2vw;
	// 	overflow-x: auto;
	// 	color: #b3b3b3;

		
	// }

	.paragraph {
		// background-color: blanchedalmond;

		display: flex;
		flex-direction: column;

		height: 50%;
		overflow: auto;

		margin: 0;
		font-size: 0.75vw;
		font-weight: 400;
		margin-bottom: 0.5vw;
		display: block;
		// min-height: 2vw;
		overflow-x: auto;
		color: #b3b3b3;

		// span {
		// 	font-size: 0.75vw;
		// 	font-weight: 400;
		// 	margin-bottom: 0.5vw;
		// 	display: block;
		// 	// height: 2vw;
		// 	min-height: 2vw;
		// 	overflow-x: auto;
		// }
		.sub-header {
			display: flex;
			margin-bottom: 0.5vw;
		}

		.list-detail {
			padding-left: 1vw;
			li {
				margin-bottom: 0.3vw;
			}
		}

		.check-icon {
			margin-right: 0.2vw;
		}
	}

	.btn-row {
		padding: 1vw 0 0;
	}

	.btn-group {
		// position: absolute;
		// top: 100%;
		// background-color: rgb(172, 150, 119);
		width: 100%;
		height: 25%;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}
	form{
		display: flex;
		flex-direction: column;
	}
}

.progress-bar-style {
	// border: 1px solid;
	margin-top: 0.2vw;
}

.warning-txt {
	// color: #ff8c58;
    color: #ce822a;
    margin-bottom: 2vw;
}

.firmware-bar-container {
    // border: 3px solid blue;
    height: 1.6vw;
    border-radius: 0.3vw;
    // background-color: #e0e0de;
    background-color: #fff;
    // background-color: #dddddd;
    div {
        height: 100% !important;
    }
  }
//   .firmware-bar-Completed {
//     height: 100%;
//     background-color: #3b9747;
//     display: flex;
//     /* justify-content: center; */
//     align-items: center;
//     border-radius: 0.3vw;
//   }
  
  .firmware-bar-label {
    font-size: 1vw;
    font-weight: 600;
    position: absolute;
    // color: #fff;
    color: #d1d1d1;
    left: 47%;
  }